<div class="slider slider--overlay_min" data-module="slider">
  <div class="slider__items" data-role="slider-list">
    <div class="slider__slide" data-role="slider-slide" *ngFor="let slide of sliderData; let i = index">
      <ng-container *ngIf="i < 3">
        <!-- partials/cards/horizontal -->
        <app-card-horizontal [data]="slide" [dataOrientation]="'image-right'" [dataDivider]="false" [excerpt]="true"></app-card-horizontal>
      </ng-container>
    </div>
  </div>
  <div class="slider__bullets font-centered text-right uc-slider__bullets">
    <ng-container *ngFor="let sliders of sliderData; let i = index">
      <ng-container *ngIf="i < 3">
        <div class="uc-slider__cartridge">
          <button class="slider__bullet {{ (i==0) ? 'slider__bullet--current' : '' }}" data-role="slider-bullet" [attr.data-target]="i"></button>
          <span class="uc-slider__index">{{ i }}</span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
