<form (ngSubmit)="getSearch(form, $event)" #form="ngForm">
  <h2>{{ data['busqueda-tesis']['titulo'] }}</h2>
  <div class="uc-form-group mt-16">
    <input id="ucsearch" name="ucsearch" type="text" class="uc-input-style uc-search_input" placeholder="{{ data['busqueda-tesis']['input-text-alt'] }}" ngModel>
    <button title="Búsqueda" type="submit" class="uc-search_button"><i class="uc-icon">search</i></button>
  </div>
  <span>Utilizar 'Tésis de postgrado' en el input para pruebas</span>
  <div class="w-100 text-align--right">
    <a title="data['busqueda-tesis']['busqueda-avanzada']['titulo']" [routerLink]="[ data['busqueda-tesis']['busqueda-avanzada']['url'] ]" class="uc-link">
      <strong>{{ data['busqueda-tesis']['busqueda-avanzada']['titulo'] }}<i class="uc-icon">keyboard_arrow_right</i></strong>
    </a>
  </div>
</form>
