<section class="uc-section uc-section__header mb-60">
  <div class="container" *ngIf="data['user']">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" [particular]="data['user']['full_name']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img src="{{ data['user']['picture'] }}" alt="Foto de perfil" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-8">
        <h1>{{ data['user']['full_name'] }}</h1>
        <p class="text-weight--700 text-size--20">{{ data['user']['position'] }}</p>
        <button type="button" name="button" class="uc-btn p-0" (click)="printProfile(dataPrint)">
          <span class="uc-subtitle"><i class="uc-icon mr-8">print</i>Imprimir</span>
        </button>
        <p class="mt-16">{{ data['user']['description'] }}</p>
        <div class="row">
          <div class="col-md-3">
            <a title="Contacto" href="#" class="uc-btn btn-cta mt-60">Contáctanos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container py-16">
    <hr class="uc-hr my-32">
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container">
    <app-title [title]="json['horizon_equipo']['title']" [type]="'decorated'"></app-title>
    <div class="row" *ngIf="data['users']">
      <ng-container *ngFor="let user of data['users']; let i = index">
        <div class="col-md-3 mb-32" *ngIf="i < 8">
          <article class="uc-card card-height--same">
            <figure class="uc-card_img">
              <a title="Perfil" href="#"><img src="{{ user['picture'] }}" class="img-fluid" alt="{{ user['full_name'] }}"></a>
            </figure>
            <div class="uc-card_body">
              <h2 class="text-size--16 text-weight--700"><a title="{{ user['first_name'] }} {{ user['father_lastname'] }}" [routerLink]="['/profile-researcher']">{{ user['first_name'] }} {{ user['father_lastname'] }}</a></h2>
              <div class="uc-text-divider divider-primary my-8"></div>
              <span class="mb-16">{{ user['position'] }}</span>
              <div class="text-right mt-auto">
                <a title="{{ user['first_name'] }} {{ user['father_lastname'] }}" [routerLink]="['/profile-researcher']" class="uc-link text-weight--500 no-decoration">Ver más<i class="uc-icon">keyboard_arrow_right</i></a>
              </div>
            </div>
          </article>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!-- En esta sección, se debe redibujar todo lo que se quiere imprimir. Esto es para evitar imprimir todos los elementos extra que no son necesarios -->
<section class="uc-section uc-section__printable" #dataPrint>
  <div class="container mb-60">
    <div class="row" *ngIf="data['user']">
      <div class="col-md-4">
        <figure>
          <img src="{{ data['user']['picture'] }}" alt="Foto de perfil" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-8">
        <h1>{{ data['user']['full_name'] }}</h1>
        <p class="text-weight--700 text-size--20">{{ data['user']['position'] }}</p>
        <p class="mt-16">{{ data['user']['description'] }}</p>
      </div>
    </div>
  </div>

  <div class="container mt-60">
    <app-title [title]="json['horizon_equipo']['title']" [type]="'decorated'"></app-title>
    <div class="row" *ngIf="data['users']">
      <ng-container *ngFor="let user of data['users']; let i = index">
        <div class="col-md-3 mb-32" *ngIf="i < 8">
          <article class="uc-card card-height--same">
            <figure class="uc-card_img">
              <a title="Perfil" href="#"><img src="{{ user['picture'] }}" class="img-fluid" alt="{{ user['full_name'] }}"></a>
            </figure>
            <div class="uc-card_body">
              <h2 class="text-size--16 text-weight--700"><a title="{{ user['first_name'] }} {{ user['father_lastname'] }}" [routerLink]="['/profile-researcher']">{{ user['first_name'] }} {{ user['father_lastname'] }}</a></h2>
              <div class="uc-text-divider divider-primary my-8"></div>
              <span class="mb-16">{{ user['position'] }}</span>
              <div class="text-right mt-auto">
                <a title="{{ user['first_name'] }} {{ user['father_lastname'] }}" [routerLink]="['/profile-researcher']" class="uc-link text-weight--500 no-decoration">Ver más<i class="uc-icon">keyboard_arrow_right</i></a>
              </div>
            </div>
          </article>
        </div>
      </ng-container>
    </div>
  </div>
</section>
