.align-items {
  &--center {
    align-items: center;
  }
}

.d {
  &-inline {
      &--block {
        display: inline-block;
      }
  }
}

.line-height {
  &--1-5 {
    line-height: 1.5
  }
}

.text {
  &-size {
    &-40 {
      font-size: 40px;
    }
    &-12 {
      font-size: 12px;
    }
  }
}

.v-hidden {
  visibility: hidden;
}

.h-100 {
  height: 100%!important;
}

.w {
  &-30 {
    width: 30%!important;
  }
  &-50 {
    width: 50%!important;
  }
  &-100 {
    width: 100%;
  }
  &-min {
    &--auto {
      min-width: auto;
    }
  }
}

.ml-0 {
  margin-left: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mb {
  &-md {
    @media screen and (min-width: 768px) {
      &-0 {
        margin-bottom: 0!important;
      }
    }
  }
}

// @media (min-width: 768px) {
//   .mb-md-0 {
//     margin-bottom: 0!important;
//   }
// }

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0!important;
  }
}

.text-capitalize {
  text-transform: uppercase;
}

.text-gray {
  color: #ccc;
}

.text-color--light {
  &--half {
    color: rgba(255, 255, 255, .5);
  }
}

.justify {
  &--center {
    justify-content: center;
  }
  &--between {
    justify-content: space-between;
  }
}

.text {
  &-align {
    &--right {
      text-align: right;
    }
  }
  &-color {
    &--dark {
      color: $color_dark_regular!important;
    }
    &--gray {
      &-dark {
        color: $color_gray_dark!important;
      }
      &-regular {
        color: $color_gray_regular!important;
      }
    }
    &--light {
      color: $color_light_regular!important;
    }
    &--main {
      color: $color_main_regular!important;
    }
  }
  &-size {
    &--12 {
      font-size: 12px!important;
    }
    &--14 {
      font-size: 14px!important;
    }
    &--15 {
      font-size: 15px!important;
    }
    &--16 {
      font-size: 16px!important;
    }
    &--18 {
      font-size: 18px!important;
    }
    &--20 {
      font-size: 20px!important;
    }
    &--24 {
      font-size: 24px!important;
    }
    &--32 {
      font-size: 32px!important;
    }
    &--34 {
      font-size: 34px!important;
    }
    &--40 {
      font-size: 40px!important;
    }
    &--60 {
      font-size: 60px!important;
    }
  }
  &-weight {
    &--400 {
      font-weight: 400!important;
    }
    &--500 {
      font-weight: 500!important;
    }
    &--700 {
      font-weight: 700!important;
    }
  }
}
