<!-- Caja de búsqueda -->
<section class="uc-section uc-section__page">
    <!-- <section class="uc-section uc-section__page" *ngIf="json['horizon_search_form']['active'] && !data['search_active']"> -->
      <div class="container">
        <div class="uc-card uc-card--gray mb-32">
          <div class="uc-card_body uc-card_body--padded">
            <form [formGroup]="searchForm" (ngSubmit)="getSearch(searchForm, $event)" novalidate>
            <!-- <form #searchForma="ngForm" (ngSubmit)="getSearch(searchForma, $event)"> -->
    
              <ng-container *ngIf="json['horizon_search_form']['search']['active']">
                <h2>{{ json['horizon_search_form']['search']['title'] }}</h2>
                <div class="uc-form-group mt-16">
                  <input type="text" class="uc-input-style uc-input_search" placeholder="{{ json['horizon_search_form']['search']['form']['placeholder'] }}" formControlName="search_form" >
                  <!-- <input name="valorSearch" [(ngModel)]="valorSearch"  type="text" class="uc-input-style uc-input_search" placeholder="{{ json['horizon_search_form']['search']['form']['placeholder'] }}" > -->
                  <i (click)="getSearch(searchForm, $event)" class="uc-icon uc-icon--inputed" >search</i>
    
                  <ng-container *ngIf="(searchForm.controls['search_form'].invalid && (searchForm.controls['search_form'].dirty || searchForm.controls['search_form'].touched) && searchForm.controls['search_form'].errors.required)">
                    <span class="text-size--14">El campo búsqueda es requerido</span>
                  </ng-container>
                </div>
                <span>Buscar   Tésis de postgrado   para pruebas</span>
              </ng-container>
    
              <ng-container *ngIf="json['horizon_search_form']['filters']['active']">
                <h2 class="mb-16">{{ json['horizon_search_form']['filters']['title'] }}</h2>
                
                <div class="row" *ngFor="let filter of json['horizon_search_form']['filters']['content']; let i = index; let last = last">
                  
                  <div class="col-lg-2 col-6">
                    <div class="uc-form-group">
                        
                      <select formControlName="{{filter['search_by']['name']}}{{i}}" class="uc-input-style uc-input uc-input__select">
                      <!-- <select name="{{ filter['search_by']['name']}}" [(ngModel)]="filter['search_by']['name']" class="uc-input-style uc-input uc-input__select"> -->
                          <option [value]="option['value']" *ngFor="let option of filter['search_by']['options']">{{ option['text'] }}</option>
                      </select>
                    </div>
                  </div>
    
                  <div class="col-lg-2 col-6">
                    <div class="uc-form-group">
                      <select formControlName="{{filter['contains']['name']}}{{i}}" class="uc-input-style uc-input uc-input__select">
                      <!-- <select name="{{filter['contains']['name']}}" [(ngModel)]="filter['contains']['name']" class="uc-input-style uc-input uc-input__select"> -->
                        <ng-container *ngFor="let option of filter['contains']['options']">
                          <option [value]="option['value']">{{ option['text'] }}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
    
                  <div class="col-lg-6 col-8">
                    <div class="uc-form-group">
                      <!-- <input name="{{filter['text']['name']}}" [(ngModel)]="filter['text']['name']"  type="text" class="uc-input-style" placeholder="{{ filter['text']['placeholder'] }}"> -->
                      <input formControlName="{{filter['text']['name']}}{{i}}"  type="text" class="uc-input-style" placeholder="{{ filter['text']['placeholder'] }}">
                    </div>
                  </div>
                  
                  <div class="col-lg-2 col-4" *ngIf="last">
                    <div class="uc-form-group">
                      <div class="font-righted">
                        <button title="Menos" type="button" class="uc-btn--circle mr-4 p-0" (click)="removeFilter(i)" *ngIf="i > 0">
                          <i class="uc-icon icon-shape--rounded text-size--34">remove</i>
                        </button>
                        <button title="Más" type="button" class="uc-btn--circle mr-4 p-0" (click)="addFilter(i)" *ngIf="i < 10">
                          <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="row mt-24">
                  <div class="col-md-3 col-12">
                    <button type="submit" class="uc-btn btn-cta">
                    <!-- <button type="submit" class="uc-btn btn-cta" [disabled]="searchForm.pristine || searchForm.invalid"> -->
                      {{json['horizon_search_form']['button']['text']}}
                    </button>
                  </div>
                </div>
                
              </ng-container>
            </form>
          </div>
        </div>
      </div>
</section>

<!-- Caja de título y resultado si existe parametro -->
<section class="uc-section uc-section__header">
  <div class="container">
    <h1 class="mt-60">{{ data['title'] }}</h1>
    <!-- <div class="row" *ngIf="data['param']"> -->
    <div class="row">
      <div class="col-md-8">
        <!-- <span>Resultados de búsqueda para el término <strong>{{ data['param'] }}</strong></span> -->
        <span>Resultados de búsqueda para el término <strong>{{valorSearch}}</strong></span>
      </div>
      <!-- <div class="col-md-4">
        <button type="button" class="uc-btn btn-cta" (click)="removeSearch()">Realizar una búsqueda nueva</button>
      </div> -->
    </div>
  </div>
</section>



<!-- Filtros y lista de resultados -->
<!-- <section class="uc-section uc-section__page" *ngIf="data['search_active']"> -->
<section class="uc-section uc-section__page" >
  <div class="container">
    <div class="row">
      <!-- ZONA DE FILTROS -->
      <div class="col-md-3 col-6">
        <div class="uc-card uc-card--gray mb-32">
          <div class="uc-card_body">
            <h2 class="mb-24">Filtros</h2>
            <form class="" action="#" method="get">
              <!-- filtro tipos de documentos -->
              <div class="mb-24">
                <span class="text-weight--500">Tipos de documentos</span>
                <ul class="uc-list p-0 mt-8">
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="tesisytrabajos" type="checkbox" class="uc-input__checkbox mr-1" value="tesisytrabajos">
                      <label for="tesisytrabajos" class="mb-0 text-weight--500 text-size--14">Tesis y trabajos</label>
                    </div>
                    <ul class="uc-list pl-16 mb-16">
                      <li>
                        <div class="uc-form-group mb-0">
                          <input  name="tesispostgrado" type="checkbox" class="uc-input__checkbox mr-1" value="tesispostgrado">
                          <label for="tesispostgrado" class="mb-0 text-weight--400 text-size--14">Tesis postgrado</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Trabajos de graduación</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Publicaciones</label>
                    </div>
                    <ul class="uc-list pl-16 mb-16">
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="tesispostgrado" type="checkbox" class="uc-input__checkbox mr-1" value="tesispostgrado">
                          <label for="tesispostgrado" class="mb-0 text-weight--400 text-size--14">Artículos académicos</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Capítulo de libro</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Libro</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input  name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Documento de trabajo</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Presentaciones a congresos</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Obras artísticas</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Otras</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Datos de investigación</label>
                    </div>
                    <ul class="uc-list pl-16 mb-16">
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="tesispostgrado" type="checkbox" class="uc-input__checkbox mr-1" value="tesispostgrado">
                          <label for="tesispostgrado" class="mb-0 text-weight--400 text-size--14">Documentales</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">BBDD</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Multimedia</label>
                        </div>
                      </li>
                      <li>
                        <div class="uc-form-group mb-0">
                          <input name="trabajosdegraduación" type="checkbox" class="uc-input__checkbox mr-1" value="trabajosdegraduación">
                          <label for="trabajosdegraduación" class="mb-0 text-weight--400 text-size--14">Otros datos</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- filtro idiomas -->
              <div class="mb-24">
                <span class="text-weight--500">Idiomas</span>
                <ul class="uc-list p-0 mt-8">
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="tesisytrabajos" type="checkbox" class="uc-input__checkbox mr-1" value="tesisytrabajos">
                      <label for="tesisytrabajos" class="mb-0 text-weight--500 text-size--14">Inglés</label>
                    </div>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Español</label>
                    </div>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Portugués</label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- filtro áreas temáticas -->
              <div class="mb-24">
                <span class="text-weight--500">Áreas temáticas</span>
                <ul class="uc-list p-0 mt-8">
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="tesisytrabajos" type="checkbox" class="uc-input__checkbox mr-1" value="tesisytrabajos">
                      <label for="tesisytrabajos" class="mb-0 text-weight--500 text-size--14">Nombre temática</label>
                    </div>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Nombre temática</label>
                    </div>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Nombre temática</label>
                    </div>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Nombre temática</label>
                    </div>
                  </li>
                  <li>
                    <div class="uc-form-group mb-0">
                      <input name="publicaciones" type="checkbox" class="uc-input__checkbox mr-1" value="publicaciones">
                      <label for="publicaciones" class="mb-0 text-weight--500 text-size--14">Nombre temática</label>
                    </div>
                  </li>
                  <li class="mt-8"><a title="Temáticas" href="#" class="uc-link text-weight--500 text-size--14"><i class="uc-icon">add</i>Ver más temáticas</a></li>
                </ul>
              </div>
              <!-- filtro fecha -->
              <div class="mb-24">
                <span class="text-weight--500">Fecha</span>
                <div class="row no-gutters mt-12">
                  <div class="col-md-3 col-12 mb-16 d-flex align-items--center">
                    <label for="date_desde" class="mb-0 text-weight--400 text-size--14">Desde:</label>
                  </div>
                  <div class="col-md-9 col-12 mb-16">
                    <input id="date_desde" name="date_desde" type="text" class="uc-input-style calendar-box uc-input ml-1" data-role="datepicker" placeholder="dd/mm/aaaa">
                  </div>
                  <div class="col-md-3 col-12 d-flex align-items--center">
                    <label for="date_hasta" class="mb-0 text-weight--400 text-size--14">Hasta:</label>
                  </div>
                  <div class="col-md-9 col-12">
                    <input id="date_hasta" name="date_hasta" type="text" class="uc-input-style calendar-box uc-input ml-1" data-role="datepicker" placeholder="dd/mm/aaaa">
                  </div>
                </div>
              </div>

              <!-- filtro tipo documento -->
              <div class="mb-24">
                  <div class="text-weight--500">Tipo de documento</div>
                  <div class="row">
                    <ng-container *ngFor="let item of data['tipodoc']; let i=index">
                      <ng-container *ngIf="i < 12">
                        <div *ngIf="i%2 == 0" class="col-10 mt-8">
                            <!-- <a (click)="gettipoDoc(item)" title="{{item | tubos_derecha}}" class="mb-0 text-weight--500 text-size--14">{{item | tubos_derecha}}</a> -->
                            <a href='search-advanced/%7B"search_form":"{{valorSearch}}","search_by0":"titulo","contains0":"contiene","term0":"{{item | tubos_derecha}}"%7D/1' title="{{item | tubos_derecha}}" class="mb-0 text-weight--500 text-size--14">{{item | tubos_derecha}}</a>
                        </div>
                        <div *ngIf="i%2 == 1" style="text-align: right;" class="col-2 mt-8">
                            <a href="" title="{{item}} registros" class="ico-n-reg">{{item }}</a>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div class="mt-8"><a title="Ver más tipos de documentos" href="#" class="uc-link text-weight--500 text-size--14"><i class="uc-icon">add</i>Ver más</a></div>
                  
              </div>

              <!-- filtro materias -->
              <div class="mb-24">
                  <div class="text-weight--500">Materias</div>
                  <div class="row">
                    <ng-container *ngFor="let materia of data['materia']; let i=index">
                      <ng-container *ngIf="i < 12">
                        <div *ngIf="i%2 == 0" class="col-10 mt-8">
                            <a href='search-advanced/%7B"search_form":"{{valorSearch}}","search_by0":"materia","contains0":"contiene","term0":"{{materia}}"%7D/1' title="{{materia}}" class="mb-0 text-weight--500 text-size--14">{{materia}}</a>
                        </div>
                        <div *ngIf="i%2 == 1" style="text-align: right;" class="col-2 mt-8">
                            <a href="" title="{{materia}} registros" class="ico-n-reg">{{materia}}</a>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div class="mt-8"><a title="Ver más materias" href="#" class="uc-link text-weight--500 text-size--14"><i class="uc-icon">add</i>Ver más</a></div>
              </div>

              <!-- filtro autores -->
              <div class="mb-24">
                  <div class="text-weight--500">Autores</div>
                  <div class="row">
                    <ng-container *ngFor="let autor of data['autores']; let i=index">
                      <ng-container *ngIf="i < 12">
                        <div *ngIf="i%2 == 0" class="col-10 mt-8">
                            <a href='search-advanced/%7B"search_form":"{{valorSearch}}","search_by0":"autor","contains0":"contiene","term0":"{{autor}}"%7D/1' title="{{autor}}" class="mb-0 text-weight--500 text-size--14">{{autor}}</a>
                        </div>
                        <div *ngIf="i%2 == 1" style="text-align: right;" class="col-2 mt-8">
                            <a href="" title="{{autor}} registros" class="ico-n-reg">{{autor}}</a>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div class="mt-8"><a title="Ver más autores" href="#" class="uc-link text-weight--500 text-size--14"><i class="uc-icon">add</i>Ver más</a></div>
                  
              </div>

              <button class="uc-btn btn-cta" type="button">Filtrar</button>
            </form>
          </div>
        </div>
      </div>

      <!-- ZONA DE RESULTADOS-->
      <div class="col-md-9 col-6">
        <!-- Ordenar por -->
        <div class="uc-card uc-card--gray mb-32">
          <div class="uc-card_body d-inline-block">
            <span>Ordenar por:</span>
            <div class="uc-btn--group d-inline--block">
              <button class="uc-btn--linkalike active">Más reciente</button>
              <button class="uc-btn--linkalike">Menos reciente</button>
              <button class="uc-btn--linkalike">A - Z</button>
              <button class="uc-btn--linkalike">Z - A</button>
            </div>
          </div>
        </div>
        <!-- Lista resultado búsqueda -->
        <ng-container *ngIf="data['search']; let i = index">
            Se han encontrado {{ data['search'][1]['numFound']}} resultados
          <ng-container *ngFor="let search of data['search']; let i = index">
            <app-card-publications [data]="search" [heightSame]="false"></app-card-publications>
          </ng-container>
          <div *ngIf="!registros" style="text-align: center;color:#0176DE">
            <i class="material-icons mt-5 md-60">sentiment_very_dissatisfied</i> 
            <h4 class="mt-3 mb-3">¡Lo sentimos!</h4>
            No existen registros con ese criterio de búsqueda.
          </div>
          
          

        </ng-container>

        <!-- paginador -->
        <form #pagina="ngForm">
          <nav class="uc-pagination">
            
              <button type="submit" [routerLink]="['/search-advanced/',data['param'],prevPage]" class="uc-pagination_prev mr-12">
                  <i class="uc-icon">keyboard_arrow_left</i>
              </button>
              <ul class="uc-pagination_pages">
                  <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                      <a [routerLink]="['/search-advanced/',data['param'],num]" class="page-link pointer">{{num}}</a>
                  </li>
              </ul>
              <button type="submit" [routerLink]="['/search-advanced/',data['param'],nextPage]" class="uc-pagination_next ml-12">
                  <i class="uc-icon">keyboard_arrow_right</i>
              </button>
            
          </nav>
        </form>
        <!-- Cargando -->
        <div *ngIf="!data['search']; let i = index" style="text-align: center;color:#0176DE">
          <img class="mt-5" src="../../../assets/img/2.gif">
            <h4 class="mt-3 mb-3">Cargando...</h4>
        </div>
      </div>
    </div>
  </div>
</section>
