<section class="uc-section uc-section__header mb-60" *ngIf="main['horizon_header']['active']">
  <div class="container">
    <app-breadcrumbs [breadcrumbs]="main['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="main['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-6">
        <h1>{{ main['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="main['horizon_header']['section_excerpt']['active']">
          {{main['horizon_header']['section_excerpt']['excerpt']}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pt-60" *ngIf="main['horizon_faq']['active'] && data['faqs']">
  <div class="container">
    <h2 class="mb-16">{{ main['horizon_faq']['title'] }}</h2>
    <div class="row">
      <div class="col-lg-8 mb-32">
        <table class="uc-table uc-table--faq">
          <tbody>
            <ng-container *ngFor="let faq of data['faqs']; let i = index">
              <tr>
                <td *ngIf="i < 4">
                  <h3>{{ faq.pregunta }}</h3>
                  <p>{{ faq.respuesta }}</p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 mb-32 mt-auto">
        <a [routerLink]="[ main['horizon_faq']['link']['url'] ]" class="uc-btn btn-primary">
          {{ main['horizon_faq']['link']['text'] }}
          <i class="uc-icon icon-shape--rounded">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-60" *ngIf="main['horizon_contacto']['active']">
  <div class="container">
    <div class="uc-card uc-card--gray">
      <div class="uc-card_body p-32">
        <ng-container *ngIf="!response.show">
          <app-title [title]="main['horizon_contacto']['title']" [type]="'decorated'"></app-title>
          <form (ngSubmit)="submitContact(form, $event)" #form="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="uc-form-group">
                  <label for="{{ main['horizon_contacto']['input_text']['name'] }}">{{ main['horizon_contacto']['input_text']['label'] }}</label>
                  <input name="{{ main['horizon_contacto']['input_text']['name'] }}" type="text" class="uc-input-style" placeholder="{{ main['horizon_contacto']['input_text']['placeholder'] }}" [(ngModel)]="name">
                  {{name}}
                </div>
                <div class="uc-form-group" style="padding-top: 1px">
                  <label for="{{ main['horizon_contacto']['input_email']['name'] }}">{{ main['horizon_contacto']['input_email']['label'] }}</label>
                  <input name="{{ main['horizon_contacto']['input_email']['name'] }}" type="email" class="uc-input-style" placeholder="{{ main['horizon_contacto']['input_email']['placeholder'] }}" [(ngModel)]="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="uc-form-group">
                  <label for="{{ main['horizon_contacto']['input_textarea']['name'] }}">{{ main['horizon_contacto']['input_textarea']['label'] }}</label>
                  <textarea name="{{ main['horizon_contacto']['input_textarea']['name'] }}" rows="7" class="w-100 h-100 uc-input-style uc-input__textarea" placeholder="{{ main['horizon_contacto']['input_textarea']['placeholder'] }}" [(ngModel)]="message"></textarea>
                </div>
              </div>
            </div>
            <div class="row mt-24">
              <div class="offset-md-9 offset-0 col-3">
                <button title="{{ main['horizon_contacto']['input_submit']['title'] }}" type="submit" class="uc-btn btn-cta">{{ main['horizon_contacto']['input_submit']['text'] }}</button>
              </div>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="response.show">
          <div class="row">
            <div class="col-12 font-centered mb-24">
              <h2>{{ response.text }}</h2>
            </div>
            <div class="offset-md-8 col-md-4 offset-0 col-12">
              <button title="Enviar" type="submit" class="uc-btn btn-cta" (click)="resetForm()">Enviar de nuevo</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
