<section class="uc-section uc-section__header mb-60" *ngIf="main['horizon_header']['active']">
  <div class="container">
    <app-breadcrumbs [breadcrumbs]="main['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="main['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-6">
        <h1>{{ main['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="main['horizon_header']['section_excerpt']['active']">
          {{main['horizon_header']['section_excerpt']['excerpt']}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-32" *ngFor="let page of main['childs']">
        <app-card-horizontal [data]="page" [dataOrientation]="'image-left'" [dataDivider]="true"></app-card-horizontal>
      </div>
    </div>
  </div>
</section>
