<section class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active'] && data['publics']">
  <div class="container">
    <ng-container *ngFor="let tag of data['publics']['dc.type']">
      <a title="{{ tag }}" [routerLink]="[tag]" class="uc-tag mb-16">{{ tag}}</a>
    </ng-container>
    <!-- <ng-container *ngFor="let tag of data['publics']['info']['type']">
      <a title="{{ tag['title'] }}" [routerLink]="[tag['url']]" class="uc-tag mb-16">{{ tag['text'] }}</a>
    </ng-container> -->
    <div class="row">
      <div class="col-md-11 col-12">
        <h1>{{ data['publics']['title'][0] }}</h1>
        <span class="text-size--18">{{ data['publics']['author'][0] }}  |</span>
        <span class="text-size--18"> {{ data['publics']['dateIssued.year'][0] }} | </span>
        <a href="{{ data['publics']['dc.identifier.uri'][0] }}" class="text-size--18"> URI: {{ data['publics']['dc.identifier.uri'][0] }}</a>
        <!-- <h1>{{ data['publics']['title'] }}</h1> -->
        <!-- <span class="text-size--18">{{ data['publics']['author']['name'] }}</span> -->
      </div>
      <div class="col-md-1 d-none d-md-block">
        <i class="uc-icon">book</i>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="data['publics']">
  <div class="container">
    <div class="row">
      <!-- sección Widget -->
      <div class="col-lg-4 col-md-6 col-12">
        <article class="uc-card mb-32" *ngIf="json['horizon_informacion']['active']">
          <div class="uc-card_body">
            <span class="uc-subtitle">{{ json['horizon_informacion']['title'] }}</span>
            <hr class="uc-hr my-24">

            <!-- etiquetas -->
            <div class="mb-16" *ngIf="json['horizon_informacion']['sections']['tags']['active']">
              <span class="uc-subtitle d-block mb-8">{{ json['horizon_informacion']['sections']['tags']['title'] }}</span>
              <!-- <ng-container *ngFor="let tag of data['publics']['info']['tags']">
                <a title="{{ tag['title'] }}" [routerLink]="[tag['url']]" class="uc-tag mb-8">{{ tag['text'] }}</a>
              </ng-container> -->
              <ng-container *ngFor="let tag of data['publics']['bi_4_dis_partial']">
                <a title="{{ tag }}" [routerLink]="[tag]" class="uc-tag mb-8">{{ tag }}</a>
              </ng-container>
            </div>

            <!-- Tipo de documento -->
            <div class="mb-16" *ngIf="json['horizon_informacion']['sections']['type']['active']">
              <span class="uc-subtitle d-block mb-8">{{ json['horizon_informacion']['sections']['type']['title'] }}</span>
              <!-- <ng-container *ngFor="let type of data['publics']['info']['type']">
                <a title="{{ type['title'] }}" [routerLink]="[type['url']]" class="uc-tag mb-8">{{ type['text'] }}</a>
              </ng-container> -->
              <ng-container *ngFor="let type of data['publics']['dc.type']">
                <a title="{{ type }}" [routerLink]="[type]" class="uc-tag mb-8">{{ type }}</a>
              </ng-container>
            </div>

            <!-- Temática -->
            <div *ngIf="json['horizon_informacion']['sections']['topics']['active']">
              <span class="uc-subtitle d-block mb-8">{{ json['horizon_informacion']['sections']['topics']['title'] }}</span>
              <!-- <ng-container *ngFor="let topic of data['publics']['info']['topics']">
                <a title="{{ topic['title'] }}" [routerLink]="[topic['url']]" class="uc-tag mb-8">{{ topic['text'] }}</a>
              </ng-container> -->
              <ng-container *ngFor="let topic of data['publics']['bi_4_dis_partial']">
                <a title="{{ topic }}" [routerLink]="[topic]" class="uc-tag mb-8">{{ topic }}</a>
              </ng-container>
            </div>

            <!-- Mostrar metadatos -->
            <ng-container *ngIf="json['horizon_informacion']['sections']['metadata']['active']">
              <a title="{{ json['horizon_informacion']['sections']['metadata']['title'] }}" [routerLink]="[json['horizon_informacion']['sections']['metadata']['url']]" class="uc-btn btn-primary mt-32">{{ json['horizon_informacion']['sections']['metadata']['title'] }}<i class="uc-icon icon-shape--rounded">remove_red_eye</i></a>
            </ng-container>
          </div>
        </article>

        <!-- Descargar ficha y Otros documentos de este tipo -->
        <article class="uc-card uc-card--gray mb-32" *ngIf="json['horizon_descarga']['active']">
          <div class="uc-card_body">
            <!-- Descargar ficha -->
            <span class="uc-subtitle mb-16">{{ json['horizon_descarga']['title'] }}</span>
            <!-- <a title="{{ data['publics']['docs']['main']['name'] }}" href="{{ data['publics']['docs']['main']['url'] }}" class="uc-btn btn-cta" target="_blank" download>Descargar documento ({{ data['publics']['docs']['main']['size'] }})</a> -->
            <!-- ESTA PARTE ES PARA PROBAR -->
                <a (click)="descargaGA()" title="algo" href="https://repositorio.uc.cl/bitstream/handle/{{ data['publics']['handle'] }}/{{ data['publics']['stream_source_info']}}" class="uc-btn btn-cta" target="_blank" download>Descargar documento {{data['publics']['stream_size']}}</a>
              <!-- FIN PRUEBA -->

            <!-- Otros documentos de este tipo -->
            <ng-container *ngIf="json['horizon_descarga']['others']['active']">
              <span class="uc-subtitle mt-32">{{ json['horizon_descarga']['others']['title'] }}</span>
              <hr class="uc-hr my-16">
              <!-- <ng-container *ngFor="let doc of data['publics']['docs']['alts']">
                <a title="{{ doc['name'] }}" href="{{ doc['url'] }}" class="uc-link no-decoration text-weight--500 mt-8" target="_blank" download>
                  <i class="uc-icon mr-8">get_app</i>{{ doc['name'] }}
                </a>
              </ng-container> -->
              <a title="algo" href="arhivo.zip" class="uc-link no-decoration text-weight--500 mt-8" target="_blank" download>
                  <i class="uc-icon mr-8">get_app</i>nombre doc
              </a>
            </ng-container>
          </div>
        </article>
        <!-- Datos investigador -->
        <article class="uc-card mb-32" *ngIf="json['horizon_datos']['active']">
          <div class="uc-card_body">
            <span class="uc-subtitle">{{ json['horizon_datos']['title'] }}</span>
            <hr class="uc-hr my-24">
            <!-- <span class="text-size--18">{{ data['publics']['author']['name'] }}</span> -->
            <span class="text-size--18">{{ data['publics']['author']}}</span>
            <!-- <a title="ORCID" href="{{ data['publics']['author']['orcid'] }}" class="uc-link mt-8 text-weight--500 text-size--14">
              <img src="assets/img/orcid-icon.png" alt="ORCID" class="img-fluid img-social mr-1">
              {{ data['publics']['author']['orcid'] }}
            </a> -->
            <!-- <span class="text-color--gray-dark mt-8">{{ data['publics']['author']['department'] }}</span>
            <span class="text-color--gray-dark mt-8">{{ data['publics']['author']['institution'] }}</span>
            <a title="Link" href="#" class="uc-link mt-16">{{ data['publics']['author']['email'] }}</a>
            <a title="Link" href="#" class="uc-link mt-8">{{ data['publics']['author']['phone'] }}</a> -->
            <a title="{{json['horizon_datos']['button']['text']}}" [routerLink]="[json['horizon_datos']['button']['url']]" class="uc-btn btn-cta mt-60" *ngIf="json['horizon_datos']['button']['active']">{{ json['horizon_datos']['button']['text'] }}</a>
          </div>
        </article>
      </div>

      <!-- Sección contenido central -->
      <div class="col-lg-8 col-md-6 col-12">
        <!-- Contenido central general -->
        <ng-container *ngIf="json['horizon_content']['active']">
          <!-- Título Resumen -->
          <!-- <h2 class="mb-16">{{ json['horizon_content']['title'] }}</h2> -->

          <ng-container>
            <!-- CONTENIDO  RESUMEN-->
            <!-- <p>{{ data['publics']['dc.description.abstract'][0]}}</p> -->

            <!-- Items -->
            <!-- <ul class="uc-list uc-list--bins my-60">
                <li class="uc-list__item mb-16" *ngFor="let item of data['publics']['author']">{{ item }}</li>
            </ul> -->

            <!-- Quote -->
            <!-- <div class="uc-quote quote-lg pl-32 my-60">"{{ data['publics']['title'] }}"</div> -->

            <!-- video -->
            <!-- <article class="box box--video my-60">
                <video data-role="video-player" src="" type="video/mp4" controls></video>
            </article> -->

            <!-- Tabla horas -->
            <!-- <ng-container *ngIf="content['type'] == 'table' && content['active']">
              <table class="uc-table my-60">
                <thead>
                  <tr>
                    <th *ngFor="let th of content['content']['columns']">{{ th }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let td of content['content']['rows']">
                    <td><strong>{{ td['hora'] }}</strong></td>
                    <td>{{ td['seccion'] }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container> -->
            <table class="uc-table my-60">
                <!-- <thead>
                  <tr>
                    <th *ngFor="let th of data['publics']['dc.type']">{{ th }}</th>
                  </tr>
                </thead> -->
                <tbody>
                  <tr *ngFor="let tag of metadatos">
                    <td><strong>{{ tag['metadato'] }}</strong></td>
                    <td>{{ tag['valor'] }}</td>
                  </tr>
                </tbody>
              </table>

            <!-- Fotos slider -->
            <!-- <div class="slider slider--overlay_min my-60" data-module="slider">
                <div class="slider__items" data-role="slider-list">
                  <div class="slider__slide" data-role="slider-slide" *ngFor="let slide of data['publics']['author']">
                    <article class="uc-card">
                      <figure class="uc-card_img">
                        <img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen">
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="slider__bullets font-centered text-right uc-slider__bullets">
                  <div class="uc-slider__cartridge" *ngFor="let slide of data['publics']['author']; let i = index">
                    <button class="slider__bullet {{ i == 0 ? 'slider__bullet--current' : '' }}" data-role="slider-bullet" [attr.data-target]="i"></button>
                    <span class="uc-slider__index">{{ i }}</span>
                  </div>
                </div>
              </div> -->

          </ng-container>
        </ng-container>

        <!-- ¿CÓMO CITAR ESTE DOCUMENTO? -->
        <div class="uc-card my-60" *ngIf="!json['horizon_cita']['active']">
          <div class="uc-card_body">
            <span class="uc-subtitle">{{ json['horizon_cita']['title'] }}</span>
            <hr class="uc-hr my-16">
            <ng-container *ngIf="json['horizon_cita']['sections']['apa']['active']">
              <h3 class="mb-8">{{ json['horizon_cita']['sections']['apa']['title'] }}</h3>
              <p class="text-color--gray-dark mb-0">{{ data['publics']['dc.contributor'] }}</p>
            </ng-container>
            <ng-container *ngIf="json['horizon_cita']['sections']['reference']['active']">
              <h3 class="mb-8 mt-16">{{ json['horizon_cita']['sections']['reference']['title'] }}</h3>
              <p class="text-color--gray-dark mb-0">{{ data['publics']['dc.contributor'] }}</p>
            </ng-container>
            <ng-container *ngIf="json['horizon_cita']['sections']['in_text']['active']">
              <h3 class="mb-8 mt-16">{{ json['horizon_cita']['sections']['in_text']['title'] }}</h3>
              <p class="text-color--gray-dark mb-0">{{ data['publics']['dc.contributor'] }}</p>
            </ng-container>
          </div>
        </div>

        <!-- Investigaciones relacionadas -->
        <ng-container *ngIf="!json['horizon_relacionados']['active'] && data['publicaciones']">
          <app-title [title]="json['horizon_relacionados']" [type]="'complex'"></app-title>
          <div class="row mb-60">
            <div class="col-md-6 col-12" *ngFor="let public of data['publicaciones']; let i = index">
              <app-card-normal [data]="public" [divider]="false" [excerpt]="false" *ngIf="i < 2"></app-card-normal>
            </div>
          </div>
        </ng-container>

        <!-- Sección RRSS -->
        <ng-container style="display:none" *ngIf="!json['horizon_social']['active']">
          <hr class="uc-hr">
          <div class="row my-32">
            <!-- ¿Te gusta esta publicación? -->
            <div class="col-lg-6 col-12" *ngIf="json['horizon_social']['sections']['like']['active']">
              <span class="uc-subtitle">{{ json['horizon_social']['sections']['like']['title'] }}</span>
              <div class="d-flex align-items--center">
                <button type="button" name="button" (click)="likeRecord()">
                  <i class="uc-icon text-size--40 pr-16" *ngIf="!liked">favorite_border</i>
                  <i class="uc-icon text-size--40 pr-16" *ngIf="liked">favorite</i>
                </button>
                <!-- Ejemplo de como mostrar el length de un array en Angular. Reemplazar esto por el contador de likes -->
                <p class="text-weight--bold text-size--32 mb-0" *ngIf="data['publicaciones'] && !liked">{{ data['publicaciones'].length }}</p>
                <p class="text-weight--bold text-size--32 mb-0" *ngIf="data['publicaciones'] && liked">{{ data['publicaciones'].length + 1 }}</p>
              </div>
            </div>
            <!-- Comparte esta publicación -->
            <div class="col-lg-6 col-12">
              <span class="uc-subtitle">Comparte esta publicación</span>
              <div class="mt-8">
                <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                  <img src="assets/img/logo-uc-facebook.svg" alt="Red social" style="width: 25px;">
                </button>
                <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                  <img src="assets/img/logo-uc-twitter.svg" alt="Red social" style="width: 25px;">
                </button>
                <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                  <img src="assets/img/envelope.svg" alt="Red social" style="width: 25px;">
                </button>
              </div>
            </div>
          </div>
          <hr class="uc-hr">
        </ng-container>

        <!-- Sección de comentarios -->
        <ng-container style="display:hidde" *ngIf="!json['horizon_comentarios']['active']">
          <div class="uc-card uc-card--gray mt-60">
            <div class="uc-card_body">
              <ng-container *ngIf="json['horizon_formulario_comentario']['active']">
                <ng-container *ngIf="!response['show']">
                  <!-- partials/commons/title -->
                  <app-title [title]="json['horizon_formulario_comentario']['title']" [type]="'subdecorated'"></app-title>
                  <form (ngSubmit)="submitComment(form, $event)" #form="ngForm">
                    <div class="uc-form-group my-16">
                      <textarea id="{{ json['horizon_formulario_comentario']['forms']['textarea']['name'] }}" name="{{ json['horizon_formulario_comentario']['forms']['textarea']['name'] }}" rows="8" class="uc-input uc-input-style uc-input__textarea p-8 w-100" placeholder="{{ json['horizon_formulario_comentario']['forms']['textarea']['placeholder'] }}" ngModel></textarea>
                    </div>
                    <div class="col-md-4 offset-md-8 col-12 offset-0">
                      <button type="submit" name="{{ json['horizon_formulario_comentario']['forms']['button']['name'] }}" class="uc-btn btn-cta">{{ json['horizon_formulario_comentario']['forms']['button']['text'] }}</button>
                    </div>
                  </form>
                </ng-container>
                <ng-container *ngIf="response['show']">
                  <div class="row">
                    <div class="col-12 font-centered mb-24">
                      <h2>{{ response['text'] }}</h2>
                    </div>
                    <div class="offset-md-6 col-md-6 offset-0 col-12">
                      <button title="Enviar" type="submit" class="uc-btn btn-cta" (click)="resetForm()">{{ json['horizon_formulario_comentario']['forms']['reset']['text'] }}</button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="json['horizon_comentarios']['active']">
                <!-- partials/commons/title -->
                <app-title [title]="json['horizon_comentarios']['title']" [type]="'subdecorated'" class="my-24"></app-title>
                <ng-container *ngFor="let comment of data['comments']; let i = index">
                  <article>
                    <span class="text-color--gray-dark text-size--14">{{ comment['date'] }}</span>
                    <h4 class="text-size--16">{{ comment['user'] }}</h4>
                    <p class="mt-8">{{ comment['text'] }}</p>
                  </article>
                  <hr class="uc-hr my-24">
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
