<article class="uc-card card-type--horizontal card-height--same">
  <figure class="uc-card_img" *ngIf="cardTopicImage">
    <a title="{{ cardTopicData['disciplina'] }}" href="{{ cardTopicData['disciplina'] }}">
      <img src="{{ cardTopicData['imagen'] }}" class="img-fluid" alt="{{ cardTopicData['imagen'] }}">
    </a>
  </figure>
  <div class="uc-card_body uc-card_body--redux {{ (cardTopicIndex == 0) ? 'uc-card_body--featured' : '' }} justify--center">
    <h3 class="uc-card__title text-size--16">
      <a title="{{ cardTopicData['disciplina'] }}" href="{{ cardTopicData['disciplina'] }}">{{ cardTopicData['disciplina'] }}</a>
    </h3>
    <!-- <span class="my-8">{{ cardTopicData['texto-alternativo'] }}</span> -->
    <span class="my-8">(1572)</span>
  </div>
</article>
