
<div class="uc-navbar">
  <div class="container container--nav">
    <div class="row no-gutters">
      <div class="col-lg-2">
        <div class="uc-navbar-brand d-none d-lg-flex">
          <a class="uc-brand" title="Home" [routerLink]="['/']">
            <img class="img-fluid" src="assets/img/logo-uc-color.png" alt="Logo UC">
          </a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="uc-navbar_title">
          <h1><a title="Ir al inicio" [routerLink]="['/']">Repositorio</a></h1>
        </div>
      </div>
      
      <div class="col-xl-10 offset-xl-2 col-lg-12 offset-lg-0" data-role="navigation-holder">

        <ul class="uc-navbar_nav d-lg-flex dropdown-menu" id="principal" >
          <li class="nav-item uc-dropdown menu-item" *ngFor="let menu of MenuRepos; let i = index">
            <a class="dropbtn uc-link text-size--15" style="padding-bottom: 8px;" title="{{ menu['name'] }}" [routerLink]="[menu['link']]" >{{ menu['name'] }}</a>
            
            <!-- Sub menu 1-->
            <ng-container *ngIf="menu['sub']" >
              <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
              <ul class="submenu uc-dropdown_list">
                <div class="white-triangle d-none d-lg-flex"></div>
                <li class="uc-dropdown_list-item menu-item" *ngFor="let item of menu['sub']">
                  <div class="col-6">
                    <a class="uc-btn" title="{{ item['name'] }}" [routerLink]="[item['link']]">{{ item['name'] }}</a>
                  </div>

                    <!-- Sub menu 2 -->
                    <!-- <ng-container *ngIf="item['sub']" >
                          <div class="nav-item uc-dropdown menu-item col-6" *ngFor="let item2 of item['sub']"> 
                                <a class="uc-btn" title="{{ item2['name'] }}" [routerLink]="[item2['link']]">{{ item2['name'] }}</a>       
                          </div>  
                    </ng-container> -->
                    <!-- fin sub menu 2 -->          
                </li>
              </ul>
            </ng-container>

          </li>
          <!-- Estos items son solo para facil acceso a las plantillas del Front. DEBE SER BORRADO EN PRODUCCION -->
          <li class="nav-item uc-dropdown menu-item">
            <a class="dropbtn uc-link text-size--15" >Otros</a>
                            
                            <ng-container>
                                <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
                              <ul class="submenu uc-dropdown_list">
                                  <div class="white-triangle d-none d-lg-flex"></div>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/cover-first-level']">Portadilla Primer Nivel</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/cover-second-level']">Portadilla Segundo Nivel</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/cover-content']">Portadilla Contenido</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/page-content']">Página Contenido</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/single-record']">Single Record</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/upload-record']">Subir Record</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/profile-researcher']">Perfil de investigador</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/profile-team']">Perfil de equipo</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/contact']">Contacto</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/faq']">Preguntas frecuentes</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/bibliometrics']">Estudios bibliométricos</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/search-advanced']">Búsqueda avanzada</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/cover-novelty']">Portada Novedades</a>
                                </li>
                                <li class="uc-dropdown_list-item menu-item">
                                  <a class="uc-btn" title="Página" [routerLink]="['/single-novelty']">Single Novedad</a>
                                </li>
                              </ul>
                              </ng-container>
                              

          </li>
          <!-- Estos items son solo para facil acceso a las plantillas del Front. DEBE SER BORRADO EN PRODUCCION -->
          
        </ul>
      </div>
    </div>
  </div>
  <div class="uc-navbar_mobile-button d-flex d-lg-none" data-role="collapse-header" data-target="[data-role='navigation-holder']">
    <i class="uc-icon">menu</i>
  </div>
</div>
