<article class="uc-card card-type--horizontal card-height--same">
  <figure class="uc-card_img" [style.background-image]="getBackgroundImage(data['image']['url'])" *ngIf="dataOrientation == 'image-left'">
    <div class="uc-veil uc-veil--blue"></div>
  </figure>
  <div class="uc-card_body">
    <ng-container *ngIf="data['tag']">
      <a title="{{ data['tag']['title'] }}" href="{{ data['tag']['url'] }}" class="uc-tag mb-12">{{ data['tag']['text'] }}</a>
    </ng-container>
    <h3 class="uc-card__title mb-16">
      <a title="{{ data['link']['title'] }}" href="{{ data['link']['url'] }}">{{ data['title'] }}</a>
    </h3>
    <div class="uc-text-divider divider-primary" *ngIf="dataDivider"></div>
    <div class="uc-excerpt mb-24" *ngIf="excerpt"><p>{{ data['excerpt'] }}</p></div>
    <a title="{{ data['link']['title'] }}" href="{{ data['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto">
      <strong>{{ data['link']['text'] }}<i class="uc-icon">{{ data['link']['icon'] }}</i></strong>
    </a>
  </div>
  <figure class="uc-card_img" [style.background-image]="getBackgroundImage(data['image']['url'])" *ngIf="dataOrientation != 'image-left'">
    <div class="uc-veil uc-veil--blue"></div>
  </figure>
</article>
