<div class="uc-top-bar">
  <div class="container container--nav">
    <div class="top-bar_mobile-logo d-block d-lg-none">
      <a class="uc-brand" title="Home" href="https://www.uc.cl/">
        <!-- <img class="img-fluid" src="dist/img/logo-uc-white.png" alt="Logo UC"> -->
        <span>Pontificia Universidad Católica de Chile</span>
      </a>
    </div>
    <div class="top-bar_links-container d-none d-lg-flex">
      <ul class="top-bar_links" *ngFor="let item of MenuUc; let i = index">
        <!-- <ng-container *ngFor="let item of post; let i = index"> -->
          <li *ngIf="i == 0">
            <a class="uc-link external" title="{{ item['name']}}" href="{{ item['link']}}">{{ item['name']}}</a>
          </li>
        <!-- </ng-container> -->
      </ul>
      <ul class="top-bar_links" *ngFor="let item of MenuUc; let i = index">
        <!-- <ng-container *ngFor="let item of post; let i = index"> -->
          <li *ngIf="i != 0">
            <a class="uc-link external" title="{{ item['name']}}" href="{{ item['link'] }}">{{ item['name']}}</a>
          </li>
        <!-- </ng-container> -->
      </ul>
    </div>
  </div>
</div>
