<section class="uc-section uc-section__header mb-60" *ngIf="main['horizon_header']['active']">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="main['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="main['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ main['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="main['horizon_header']['section_excerpt']['active']">
          {{main['horizon_header']['section_excerpt']['excerpt']}}
        </div>
      </div>
      <div class="col-md-3 offset-md-1 col-12">
        <div class="row">
          <div class="col-md-12 col-6">
            <button type="button" title="Botón" class="uc-btn btn-cta mt-16">Ingresar</button>
          </div>
          <div class="col-md-12 col-6">
            <a title="{{ compartir['compartir-investigacion']['boton']['titulo'] }}" [routerLink]="[ compartir['compartir-investigacion']['boton']['url'] ]" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['titulo'] }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page py-60">
  <div class="container">
    <hr class="uc-hr">
  </div>
</section>

<section class="uc-section uc-section__page pb-32">
  <div class="container">
    <div class="uc-card uc-card--gray mb-32">
      <div class="uc-card_body uc-card_body--padded">
        <!-- partials/commons/search-form -->
        <app-search-form [data]="busqueda_tesis"></app-search-form>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="main['horizon_publics']['active'] && data['publics']">
  <div class="container">
    <div class="row mb-24">
      <div class="col-md-8 col-12">
        <h2 *ngIf="main['horizon_publics']['title'] != ''">{{ main['horizon_publics']['title'] }}</h2>
        <span *ngIf="main['horizon_publics']['excerpt'] != ''">{{ main['horizon_publics']['excerpt'] }}</span>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let publication of data['publics']; let i = index">
        <div class="col-md-4 col-12 mb-24" *ngIf="i < 3">
          <!-- partials/cards/card-normal -->
          <app-card-normal [data]="publication" [excerpt]="false"></app-card-normal>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__home" *ngIf="main['horizon_topics']['active'] && data['topics']">
  <div class="container">
    <!-- partials/commons/title -->
    <app-title [title]="main['horizon_topics']['title']" [type]="'decorated'"></app-title>
    <div class="uc-excerpt mb-32" *ngIf="main['horizon_topics']['excerpt'] != ''"><p>{{ main['horizon_topics']['excerpt'] }}</p></div>
    <div class="row">
      <ng-container *ngFor="let topics of data.topics; let i = index">
        <ng-container *ngIf="main['horizon_topics']['section_cards_big']['active']">
          <div class="col-lg-6 col-12 mb-32" *ngIf="i<2">
            <!-- partials/cards/card-topic -->
            <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true"></app-card-topic>
          </div>
        </ng-container>
        <ng-container *ngIf="main['horizon_topics']['section_cards_medium']['active']">
          <div class="col-lg-4 col-12 mb-32" *ngIf="i>=2 && i<5">
            <!-- partials/cards/card-topic -->
            <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true"></app-card-topic>
          </div>
        </ng-container>
        <ng-container *ngIf="main['horizon_topics']['section_cards_small']['active']">
          <div class="col-lg-3 col-md-6 col-12 mb-32" *ngIf="i>=5 && i<13">
            <!-- partials/cards/card-topic -->
            <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="main['horizon_tesis']['active'] && data['publics']">
  <div class="container">
    <app-title [title]="main['horizon_tesis']" [type]="'mega'"></app-title>
    <div class="row">
      <ng-container *ngFor="let study of data['publics']; let i = index">
        <div class="col-md-6 col-12 mb-32" *ngIf="i < 4 && study['type']['slug'] == main['horizon_tesis']['type_slug']">
          <!-- partials/cards/card-publications -->
          <app-card-publications [data]="study" [heightSame]="true"></app-card-publications>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="main['horizon_trabajos']['active'] && data['publics']">
  <div class="container">
    <app-title [title]="main['horizon_trabajos']" [type]="'mega'"></app-title>
    <div class="row">
      <ng-container *ngFor="let study of data['publics']; let i = index">
        <div class="col-md-6 col-12 mb-32" *ngIf="i < 12 && study['type']['slug'] == main['horizon_trabajos']['type_slug']">
          <!-- partials/cards/card-publications -->
          <app-card-publications [data]="study" [heightSame]="true"></app-card-publications>
        </div>
      </ng-container>
    </div>
  </div>
</section>
