<ng-container *ngFor="let a of data.docs">
    
<article [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="pointer uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24">
  <div class="uc-card_body">
  <!-- <div class="uc-card_body uc-card_body--featured"> -->
    <div class="row">
      <!-- Foto -->
      <div class="col-lg-3 col-md-6 col-12 d-flex align-items--center" >
        <figure class="mb-16 mb-md-0">
            <img *ngIf="a['meta'] " src="http://interfaz-rep-desa-lab.dca.uc.cl:8080/bitstream/handle/{{ a['handle']}}/{{a['meta'][5].replace('.txt','.jpg')}}" onerror="this.src= 'https://static.vecteezy.com/system/resources/previews/000/581/709/non_2x/file-icon-vector-illustration.jpg'"  alt="{{a['meta'][5].replace('.txt','.jpg')}}" class="img-fluid" width="100">
            <img *ngIf="!a['meta'] " src="assets/img/archivo-default.png" alt="Sin imagen" class="img-fluid" width="100" >

        </figure>
      </div>
      <!-- Tìtulo y autor -->
      <div class="{{ (data['url_thumbnail'] == '') ? 'col-lg-11' : 'col-lg-8 col-md-6' }} col-12">
        <div class="uc-card uc-card--edge">
          <div class="uc-card_body p-0">
            <h2 class="text-size--16 text-weight--700">
              <!--<a title="{{ data['link']['title'] }}" [routerLink]="[ data['link']['url'] ]">{{ data['titulo'] }}</a>-->
              <!-- <a>{{ data['titulo'] }}</a> -->   
              <a>{{ a['dc.title']}}</a>
            </h2>
            <!-- <span class="mt-8" *ngIf="data['autor'] != ''">{{ data['autor'] }}</span> -->
            <span class="mt-8" *ngIf="a['dc.contributor.author'] != ''">{{ a['dc.contributor.author'] }}</span>
            <!--<span class="mt-8" *ngIf="data['author'] != ''">{{ data['author'] }}</span>
            <span class="mt-8 text-color--gray-dark" *ngIf="data['date'] != ''">Fecha: {{ data['date'] }}</span>
            <span class="mt-8 text-color--gray-dark" *ngIf="data['doi'] != ''">DOI: {{ data['doi'] }}</span>
            <span class="mt-8 text-color--gray-dark" *ngIf="data['type']['name'] != ''">{{ data['type']['name'] }}</span>-->
          </div>
        </div>
      </div>

      <div class="col-lg-1 d-none d-lg-block font-righted">
        <i class="uc-icon">book</i>
      </div>
    </div>
  </div>
</article>

</ng-container>
