.chart-container {
  position: relative;
}

.chart_main {
  height: 35%!important;
}
.chart_main + .row {
  height: 50%!important;
}



:root {
  --main-white-color: white;
  --main-black-color: black;
}
 
.static {
  position: static; 
}
 
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}
 
.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}
 
.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
 
.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}
 
.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}
 
.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  position: absolute;
}
 
.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid var(--main-black-color);
  transition: all 0.2s ease;
}
 
.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}
 
.owl-carousel .owl-nav {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
}
