<section class="uc-section uc-section__main">

    <!-- You can now use your library component in app.component.html -->;
<!--     <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="100%">
    </div>
    </ngx-slick-carousel>
    <button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()"></button>unslick&lt;/button&gt; -->

  <!-- BANNER  -->
  <div class="container-fluid uc-container--fluid" [style.background-image]="getBackgroundImage('assets/img/bnr-libros.jpg')">
    <div class="uc-veil uc-veil--black"></div>
  </div>

  <!-- Búsqueda / Login / Subir documento -->
  <div class="container uc-container--pushed">  
    <!-- BUSCADOR -->
    <div id="cajaSearch" class="uc-card uc-card--gray mb-32">
      <div class="uc-card_body uc-card_body--padded">
        <h2>{{ CajonBusqueda['cajon-busqueda']['name'] }}</h2>
        <div class="uc-form-group mt-16">
          <form #searchForm="ngForm" (ngSubmit)="getSearch(searchForm)">
            <input name='name' [(ngModel)]='buscalibro.name' type="text" class="uc-input-style" placeholder="{{ CajonBusqueda['cajon-busqueda']['texto-cajon-alt'] }}" style="border: 3px solid rgb(254, 198, 13); box-shadow: 0px 0px 5px 0px rgba(254, 198, 13, 1);">
            <i (click)="getSearch(searchForm)" class="uc-icon uc-icon--inputed">search</i>
          </form>
        </div>    
        <a title="Ir a búsqueda avanzada" [routerLink]="['/search-advanced/home/1']"   class="uc-link text-align--right"><strong>{{ CajonBusqueda['cajon-busqueda']['link-busqueda-avanzada']['name'] }}<i class="uc-icon">keyboard_arrow_right</i></strong></a>
      </div>
    </div>
    
    <!-- LOGIN Y COMPARTE SUBIR DOC -->
    <div id="containerBusca" class="row" *ngIf="!loggedIn">

      <!-- <div class="col-md-6 col-12 mb-32">
        <div class="uc-card uc-card--gray card-height--same">
          <div class="uc-card_body p-32">
            <div class="d-flex align-items-center mb-16">
              <h2>{{ CajonBusqueda['cajon-iniciar-sesion']['name'] }}</h2>
              <span class="uc-heading-decoration"></span>
              <span class="uc-heading-decoration m-0"></span>
            </div>
            <form [formGroup]="angForm" (ngSubmit)="logIn(angForm, $event)" novalidate>
              <div class="uc-form-group">
                <label for="email">Usuario</label>
                <input id="email" name="email" type="text" class="uc-input-style mb-1" placeholder="Escribe tu nombre de usuario" formControlName="email">
                <ng-container *ngIf="(angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched) && angForm.controls['email'].errors.required)">
                  <span class="text-size--14">El campo Usuario es requerido</span>
                </ng-container>
              </div>
              <div class="uc-form-group">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" class="uc-input-style mb-1" placeholder="Escribe tu contraseña" formControlName="password">
                <ng-container *ngIf="(angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched) && angForm.controls['password'].errors.required)">
                  <span class="text-size--14">El campo Contraseña es requerido</span>
                </ng-container>
              </div>
              <span *ngIf="loginFailed != ''" class="error-msg">{{ loginFailed }}</span>
              <div class="row mt-24">
                <div class="col-6 mt-auto">
                  <a title="Ir a recuperar contraseña" href="#" class="uc-link"><strong>¿Olvidaste tu contraseña?</strong></a>
                </div>
                <div class="col-6">
                  <button title="Ingresar" type="submit" class="uc-btn btn-cta" [disabled]="angForm.pristine || angForm.invalid">Ingresar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->

      <div class="col-md-6 col-12 mb-32">
          <div class="uc-card uc-card--gray card-height--same">
            <div class="uc-card_body p-32">
              <div class="d-flex align-items-center mb-16">
                <h2> Autenticación UC </h2>
                <span class="uc-heading-decoration"></span>
                <span class="uc-heading-decoration m-0"></span>
              </div>
              <div class="uc-card_excerpt">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dictumst lacus, sociis primis hendrerit praesent habitasse felis ullamcorper velit, dictum odio nunc vulputate scelerisque mauris est ad. Euismod ultrices aptent netus ridiculus lacus velit torquent fusce, consequat.</p>
              </div>
              <div class="row mt-auto">
                <div class="col-lg-6 offset-lg-6 col-12 offset-0">
                  <a title="Ingresar" (click)="llamarLogin()"  class="uc-btn btn-cta">Ingresar</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-6 col-12 mb-32">
        <div class="uc-card uc-card--gray card-height--same">
          <div class="uc-card_body p-32">
            <div class="d-flex align-items-center mb-16">
              <h2> {{ CajonBusqueda['cajon-auto-archivo']['name'] }} </h2>
              <span class="uc-heading-decoration"></span>
              <span class="uc-heading-decoration m-0"></span>
            </div>
            <div class="uc-card_excerpt">
              <p>{{ CajonBusqueda['cajon-auto-archivo']['descripcion'] }}</p>
            </div>
            <div class="row mt-auto">
              <div class="col-lg-6 offset-lg-6 col-12 offset-0">
                <a title="{{ CajonBusqueda['cajon-auto-archivo']['boton-subir-documentoa']['name'] }}" [routerLink]="[ CajonBusqueda['cajon-auto-archivo']['boton-subir-documentoa']['link'] ]" class="uc-btn btn-cta">{{ CajonBusqueda['cajon-auto-archivo']['boton-subir-documentoa']['name'] }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--  PERFIL USER -->
    <div class="row" *ngIf="loggedIn">
      <div class="col-lg-8 col-md-6 col-12 mb-32">
        <div class="uc-card" *ngIf="!editing">
          <div class="uc-card_body p-32">
            <div class="d-flex mb-24">
              <i class="uc-icon line-height--1-5">account_circle</i>
              <div class="pl-8">
                <h2>Miguel Ángel Gonzalez Errazuriz</h2>
                <span class="uc-subtitle">Dirección de Transferencia y Desarrollo, Vicerrectoría de Investigación</span>
              </div>
            </div>
            <form (ngSubmit)="editData(form, $event)" #form="ngForm">
              <div class="row mt-24">
                <div class="offset-8 col-4">
                  <button title="Editar" type="submit" class="uc-btn btn-cta">Editar mis datos</button>
                </div>
              </div>
            </form>
            <div class="row mt-32">
              <div class="col-sm-6 col-12">
                <div class="d-flex mb-24">
                  <i class="uc-icon">favorite</i>
                  <div class="pl-8">
                    <h3>Investigaciones favoritas</h3>
                  </div>
                </div>
                <ul class="uc-list uc-list--bins">
                  <li class="uc-list__item mb-16"><a title="Link" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                  <li class="uc-list__item mb-16"><a title="Link" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                  <li class="uc-list__item mb-16"><a title="Link" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                  <li class="uc-list__item mb-16"><a title="Link" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                  <li class="uc-list__item mb-16"><a title="Link" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                  <li class="uc-list__item mb-16"><a title="Link" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                </ul>
                <div class="font-centered">
                  <a title="Link" href="#" class="uc-link text-weight--500">Cargar más (24)</a>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="d-flex mb-24">
                  <i class="uc-icon">local_library</i>
                  <div class="pl-8">
                    <h3>Mis publicaciones</h3>
                  </div>
                </div>
                <ul class="uc-list uc-list--bins">
                  <li class="uc-list__item mb-16">
                    <a title="Link" href="#" class="uc-link text-weight--500 d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                    <span class="uc-subtitle">Estado:</span> <strong>Por completar</strong>
                  </li>
                  <li class="uc-list__item mb-16">
                    <a title="Link" href="#" class="uc-link text-weight--500 d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                    <span class="uc-subtitle">Estado:</span> <strong>Enviado</strong>
                  </li>
                  <li class="uc-list__item mb-16">
                    <a title="Link" href="#" class="uc-link text-weight--500 d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                    <span class="uc-subtitle">Estado:</span> <strong>Aceptado</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="uc-card uc-card--gray" *ngIf="editing && userData">
          <div class="uc-card_body p-32">
            <form [formGroup]="editForm" (ngSubmit)="editData(editForm, $event)" novalidate>
              <!-- <div class="uc-form-group">
                <label for="email">Usuario</label>
                <input id="email" name="email" type="text" class="uc-input-style mb-1" placeholder="Escribe tu nombre de usuario" formControlName="email">
              </div>
              <div class="uc-form-group">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" class="uc-input-style mb-1" placeholder="Escribe tu contraseña" formControlName="password">
                <ng-container *ngIf="(angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched) && angForm.controls['password'].errors.required)">
                  <span class="text-size--14">El campo Contraseña es requerido</span>
                </ng-container>
              </div>
              <span *ngIf="loginFailed != ''" class="error-msg">{{ loginFailed }}</span>
              <div class="row mt-24">
                <div class="col-6 mt-auto">
                  <a title="Ir a recuperar contraseña" href="#" class="uc-link"><strong>¿Olvidaste tu contraseña?</strong></a>
                </div>
                <div class="col-6">
                  <button title="Ingresar" type="submit" class="uc-btn btn-cta" [disabled]="angForm.pristine || angForm.invalid">Ingresar</button>
                </div>
              </div>
            </form>
            <form (ngSubmit)="editData(form, $event)" #form="ngForm" id="ngForm"> -->
              <div class="row">
                <div class="col-12">
                  <div class="uc-form-group">
                    <label for="name">Nombre</label>
                    <input id="name" name="name" type="text" class="uc-input-style" placeholder="Ingrese su nombre" formControlName="name">
                  </div>
                </div>
                <div class="col-12">
                  <div class="uc-form-group">
                    <label for="unity">Unidad</label>
                    <input id="unity" name="unity" type="text" class="uc-input-style" placeholder="Ingrese su unidad" formControlName="unity">
                  </div>
                </div>
                <div class="col-6">
                  <div class="uc-form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" class="uc-input-style" placeholder="Ingrese su correo" formControlName="email">
                  </div>
                </div>
                <div class="col-6">
                  <div class="uc-form-group mt-40">
                    <input type="radio" id="emailpublico" name="email_privacy" value="public" class="uc-orig-radio" formControlName="email_privacy">
                    <label for="emailpublico" class="uc-radio-button mx-8 mb-0">Público</label>
                    <input type="radio" id="emailprivado" name="email_privacy" value="private" class="uc-orig-radio" formControlName="email_privacy">
                    <label for="emailprivado" class="uc-radio-button mx-8 mb-0">Privado</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="uc-form-group">
                    <label for="newsletter" class="d-block">Suscribirse a news (alertas al correo)</label>
                    <input type="radio" id="newssi" name="newsletter" value="yes" class="uc-orig-radio" formControlName="newsletter">
                    <label for="newssi" class="uc-radio-button mx-8 mb-0">Si</label>
                    <input type="radio" id="newsno" name="newsletter" value="no" class="uc-orig-radio" formControlName="newsletter">
                    <label for="newsno" class="uc-radio-button mx-8 mb-0">No</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="uc-form-group">
                    <label for="phone">Celular</label>
                    <input id="phone" name="phone" type="text" class="uc-input-style" placeholder="Ingrese su celular" formControlName="phone">
                  </div>
                </div>
                <div class="col-6">
                  <div class="uc-form-group mt-40">
                    <input type="radio" id="celularpublico" name="phone_privacy" value="public" class="uc-orig-radio" formControlName="phone_privacy">
                    <label for="celularpublico" class="uc-radio-button mx-8 mb-0">Público</label>
                    <input type="radio" id="celularprivado" name="phone_privacy" value="private" class="uc-orig-radio" formControlName="phone_privacy">
                    <label for="celularprivado" class="uc-radio-button mx-8 mb-0">Privado</label>
                  </div>
                </div>
                <div class="col-12">
                  <button title="Ingresar" type="submit" class="uc-btn btn-cta mt-32" *ngIf="editing" [disabled]="editForm.pristine || editForm.invalid">Guardar cambios</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-32">
        <div class="uc-card mb-32" *ngIf="!editing">
          <div class="uc-card_body uc-card_body--featured p-32 font-centered">
            <h2>Comparte tu investigación</h2>
            <button title="Subir" type="button" class="uc-btn btn-cta mt-16">Subir documento</button>
          </div>
        </div>
        <div class="uc-card">
          <div class="uc-card_body p-32">
            <h3>¿Tienes cuenta ORCID?</h3>
            <div class="uc-excerpt">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <a title="Vincular" href="#" class="uc-btn uc-btn--padded btn-featured mt-24">
              Vincular cuenta
              <i class="uc-icon icon-size--small">launch</i>
            </a>
            <div class="font-centered mt-32">
              <span class="text-weight--500">¿No tienes cuenta ORCID?</span>
            </div>
            <div class="font-centered mt-8">
              <a title="Registro" href="#" class="uc-link text-weight--500">Regístrate</a>
            </div>
          </div>
        </div>
        <!-- <button title="Ingresar" type="submit" form="editForm" class="uc-btn btn-cta mt-32" *ngIf="editing" [disabled]="editForm.pristine || editForm.invalid">Guardar cambios</button> -->
      </div>
    </div>
  </div>

</section>

<!-- Mis actividades -->
<section class="uc-section uc-section__home" *ngIf="json.horizon_mis_actividades.active && loggedIn && !editing">
  <div class="container">
    <app-title [title]="json.horizon_mis_actividades.title" [type]="'decorated'"></app-title>
    <div class="row">
      <div class="col-lg-8 col-12 mb-32" *ngIf="json.horizon_mis_actividades.section_left.active">
        <h3 class="mb-16">{{ json.horizon_mis_actividades.section_left.title }}</h3>
        <div class="row">
          <div class="col-md-6 col-12 mb-32">
            <article class="uc-card card-height--same">
              <div class="uc-card_body uc-card_body--featured">
                <i class="uc-icon uc-icon--cornered">book</i>
                <h4 class="uc-card__title"><a title="Temática" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h4>
                <div class="uc-excerpt">
                  <p>María de los Ángeles Rodríguez Soto</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-12 mb-32">
            <article class="uc-card card-height--same">
              <div class="uc-card_body">
                <i class="uc-icon uc-icon--cornered">book</i>
                <h4 class="uc-card__title"><a title="Temática" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h4>
                <div class="uc-excerpt">
                  <p>María de los Ángeles Rodríguez Soto</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-12 mb-32">
            <article class="uc-card card-height--same">
              <div class="uc-card_body">
                <i class="uc-icon uc-icon--cornered">book</i>
                <h4 class="uc-card__title"><a title="Temática" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h4>
                <div class="uc-excerpt">
                  <p>María de los Ángeles Rodríguez Soto</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-12 mb-32">
            <article class="uc-card card-height--same">
              <div class="uc-card_body">
                <i class="uc-icon uc-icon--cornered">book</i>
                <h4 class="uc-card__title"><a title="Temática" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h4>
                <div class="uc-excerpt">
                  <p>María de los Ángeles Rodríguez Soto</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-12 mb-32">
            <article class="uc-card card-height--same">
              <div class="uc-card_body">
                <i class="uc-icon uc-icon--cornered">book</i>
                <h4 class="uc-card__title"><a title="Temática" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h4>
                <div class="uc-excerpt">
                  <p>María de los Ángeles Rodríguez Soto</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-12 mb-32">
            <article class="uc-card card-height--same">
              <div class="uc-card_body">
                <i class="uc-icon uc-icon--cornered">book</i>
                <h4 class="uc-card__title"><a title="Temática" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</a></h4>
                <div class="uc-excerpt">
                  <p>María de los Ángeles Rodríguez Soto</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-32" *ngIf="json.horizon_mis_actividades.section_right.active">
        <h3 class="mb-16">{{ json.horizon_mis_actividades.section_right.title }}</h3>
        <article class="uc-card">
          <div class="uc-card_body justify--center">
            <ul class="uc-list uc-list--bots">
              <li class="uc-list__item mb-16"><a title="Búsqueda" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur...(253)</a></li>
              <li class="uc-list__item mb-16"><a title="Búsqueda" href="#" class="uc-link text-weight--500">Dolor sit ament, consectetur adipisic...(13)</a></li>
              <li class="uc-list__item mb-16"><a title="Búsqueda" href="#" class="uc-link text-weight--500">Adipiscing elit, sed do...(10245)</a></li>
              <li class="uc-list__item mb-16"><a title="Búsqueda" href="#" class="uc-link text-weight--500">Lorem ipsum dolor sit amet, consectetur...(253)</a></li>
              <li class="uc-list__item mb-16"><a title="Búsqueda" href="#" class="uc-link text-weight--500">Dolor sit amet, consectetur adipisic...(13)</a></li>
              <li class="uc-list__item mb-16"><a title="Búsqueda" href="#" class="uc-link text-weight--500">Adipiscing elit, sed do...(10245)</a></li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Mis áreas temáticas -->
<section class="uc-section uc-section__home" *ngIf="loggedIn">
  <div class="container">
    <div class="d-flex align-items-center mb-32">
      <h2>Mis áreas temáticas de interés</h2>
      <span class="uc-heading-decoration"></span>
      <span class="uc-heading-decoration m-0"></span>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 mb-32">
        <article class="uc-card card-type--horizontal card-height--same">
          <figure class="uc-card_img">
            <a title="Imagen" href="#"><img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen temática"></a>
          </figure>
          <div class="uc-card_body justify--center">
            <h3 class="uc-card__title"><a title="Temática" href="#">Temática 1</a></h3>
            <span class="uc-subtitle my-8">(1572)</span>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-12 mb-32">
        <article class="uc-card card-type--horizontal card-height--same">
          <figure class="uc-card_img">
            <a title="Imagen" href="#"><img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen temática"></a>
          </figure>
          <div class="uc-card_body justify--center">
            <h3 class="uc-card__title"><a title="Temática" href="#">Temática 1</a></h3>
            <span class="uc-subtitle my-8">(1572)</span>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-12 mb-32">
        <article class="uc-card card-type--horizontal card-height--same">
          <figure class="uc-card_img">
            <a title="Imagen" href="#"><img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen temática"></a>
          </figure>
          <div class="uc-card_body justify--center">
            <h3 class="uc-card__title"><a title="Temática" href="#">Temática 1</a></h3>
            <span class="uc-subtitle my-8">(1572)</span>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Otras áreas temáticas -->
<section class="uc-section uc-section__home" *ngIf="json.horizon_otras_areas_tematicas.active && loggedIn">
  <div class="container">
    <ng-container *ngIf="data.topics">
      <!-- partials/commons/title -->
      <app-title [title]="json.horizon_otras_areas_tematicas.title" [type]="'decorated'"></app-title>
      <div class="row">
        <ng-container *ngFor="let topics of data.topics; let i = index">
          <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_medium.active">
            <div class="col-lg-4 col-12 mb-32" *ngIf="i>=2 && i<5">
              <!-- partials/cards/card-topic -->
              <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true"></app-card-topic>
            </div>
          </ng-container>
          <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_small.active">
            <div class="col-lg-3 col-md-6 col-12 mb-32" *ngIf="i>=5 && i<13">
              <!-- partials/cards/card-topic -->
              <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>

<!-- Areas tematicas -->
<section class="uc-section uc-section__home" *ngIf="json['horizon_areas_tematicas'].active && !loggedIn">
  <div class="container">
    <ng-container *ngIf="data['topics']">
      <!-- partials/commons/title -->
      <app-title [title]="json['horizon_areas_tematicas'].title" [type]="'decorated'"></app-title>
      <div class="row">
        <ng-container *ngFor="let topics of data['topics']; let i = index">
          <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_big.active">
            <div class="col-lg-6 col-12 mb-32" *ngIf="i<2">
              <!-- partials/cards/card-topic -->
              <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true"></app-card-topic>
            </div>
          </ng-container>
          <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_medium.active">
            <div class="col-lg-4 col-12 mb-32" *ngIf="i>=2 && i<5">
              <!-- partials/cards/card-topic -->
              <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true"></app-card-topic>
            </div>
          </ng-container>
          <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_small.active">
            <div class="col-lg-3 col-md-6 col-12 mb-32" *ngIf="i>=5 && i<13">
              <!-- partials/cards/card-topic -->
              <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>

<!-- Slider / Suscripcion -->
<section class="uc-section uc-section__home" *ngIf="json.horizon_novedades.active && !editing">
  <!-- Slider -->
  <section class="uc-section uc-section__sub my-32">
    <div class="container">
      <!-- partials/commons/title -->
      <app-title [title]="json.horizon_novedades.title" [type]="'decorated'"></app-title>
      <ng-container *ngIf="json.horizon_novedades.section_slider.active && data['news']">
        <!-- partials/media/slider -->
        <app-slider [sliderData]="data['news']"></app-slider>
      </ng-container>
    </div>
  </section>
  
  <!-- Suscripcion Título -->
  <section id="suscripcion" class="uc-section uc-section__sub uc-section--featured my-32 py-48" *ngIf="data['SuscripcionNews']">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ data['SuscripcionNews']['title'] }}</h2>
            <div class="uc-excerpt">
              <p>{{ data['SuscripcionNews']['excerpt']}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <!--
            <form action="/" method="post" class="h-100">
              <div class="row h-100 align-items--center">
                <div class="col-8">
                  <div class="uc-form-group">
                    <label for="email_newsletter">{{ data['SuscripcionNews'] ['suscripcion-news']['input-mail']['titulo']}}</label>
                    <input id="email_newsletter" name="email_newsletter" type="email" class="uc-input-style" placeholder="{{ data['SuscripcionNews'] ['suscripcion-news']['input-mail']['texto-alt']}}">
                  </div>
                </div>
                <div class="col-4">
                  <button type="submit" title="{{ data['SuscripcionNews']['suscripcion-news']['boton-mail']['titulo']}}" class="uc-btn uc-btn--padded btn-cta mt-16">{{ data['SuscripcionNews']['suscripcion-news']['boton-mail']['titulo']}}</button>
                </div>
              </div>
            </form>
            -->
            
            <!-- Begin Mailchimp Signup Form -->
            <form #subscribeForm="ngForm" (ngSubmit)="subscribe('subscribeForm')">
              <div *ngIf="!status" id="mc_embed_signup_scroll" class="row h-100 align-items--center">
                <div class="col-8">
                  <div class="uc-form-group">
                    <label for="email_newsletter">Correo electrónico</label>
                    <input type="email" value="" #email='ngModel' name='userName' [(ngModel)]='subscribeData.email' class="uc-input-style" id="mce-EMAIL" placeholder="Escribe tu email" pattern="\S+@\S+\.\S+" required>
                    
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_3019e80d9464546d10c84e3d9_79d7a69f29" tabindex="-1" value="">
                    </div>
                  </div>
                </div>
                <div class="col-4">
                    <button type="submit" title=" Suscribir" class="uc-btn uc-btn--padded btn-cta mt-16">Suscribir</button>
                </div>
                <div *ngIf="!email.valid && email.touched" class="row alert-info">
                    <i class="material-icons col-2">warning </i> <span class="col-10">Email es requerido.</span>
                </div>
                
              </div>
              <div *ngIf="status" class="row" >
                <div class="col-2">
                  <i class="material-icons md-60">email</i>
                </div>
                <div class="col-10">
                  <h4>¡Suscripción exitosa!</h4>
                  <p>Gracias por suscribirte, en cualquier momento podrás darte de baja.</p>
                </div>
              </div>
            </form>
            <!--End mc_embed_signup-->

          </div>
        </div>
      </div>
  </section>
  <!-- Suscripcion @todo -->
 <!-- <section class="uc-section uc-section__sub uc-section--featured my-32 py-48" *ngIf="json.horizon_novedades.section_suscription.active">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ json.horizon_novedades.section_suscription.title }}</h2>
          <div class="uc-excerpt">
            <p>{{ json.horizon_novedades.section_suscription.excerpt }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <form action="/" method="post" class="h-100">
            <div class="row h-100 align-items--center">
              <div class="col-8">
                <div class="uc-form-group">
                  <label for="email_newsletter">Correo electrónico texto en duro</label>
                  <input id="email_newsletter" name="email_newsletter" type="email" class="uc-input-style" placeholder="correo@uc.cl">
                </div>
              </div>
              <div class="col-4">
                <button type="submit" title="Suscribir" class="uc-btn uc-btn--padded btn-cta mt-16">Suscribir(texto en duro)</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
-->
</section>

<!-- Números y gráficos -->
<section class="uc-section uc-section__home" *ngIf="json.horizon_nuestros_numeros.active && !editing">
  <div class="container">
    <ng-container >
      <!-- partials/commons/title -->
      <app-title [title]="json.horizon_nuestros_numeros.title" [type]="'decorated'"></app-title>
      <div class="row">
        <div class="col-md-6" *ngIf="json.horizon_nuestros_numeros.section_boxes.active">
          <div class="row">
            <!--<div class="col-md-6 mb-32" *ngFor="let number of data.statistics.boxes">
              <div class="uc-card">
                <div class="uc-card_body p-12 text-center">
                  <h4 class="text-size-40">{{ number.number }}</h4>
                  <p class="m-0">{{ number.title }}</p>
                </div>
              </div>
            </div>-->
            <div class="col-md-6 mb-32">
                <div class="uc-card">
                  <div class="uc-card_body p-12 text-center">
                    <h4 class="text-size-40">{{ data['statistics-tesis'] | number }}</h4>
                    <p class="m-0">Cantidad de Tesis</p>
                  </div>
                </div>
            </div>

            <div class="col-md-6 mb-32">
                <div class="uc-card">
                  <div class="uc-card_body p-12 text-center">
                    <h4 class="text-size-40">{{ data['statistics-articulos'] | number }}</h4>
                    <p class="m-0">Cantidad de Artículos</p>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="chart_main mb-32">
                <!-- <iframe src="https://datastudio.google.com/embed/reporting/2fe524dd-0451-4d35-9166-7e9f48dfcf7a/page/oPp5" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                <!-- <iframe id="ga-1" src="https://datastudio.google.com/embed/reporting/49f21cf2-f7c4-4938-b87b-42b2609c107f/page/39g6" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            </div>
        </div>

        <div class="col">
          <div class="chart_main mb-32">
              <h5 class="mb-3"><i class="material-icons"> calendar_today </i> Últimos 30 días</h5>
            <iframe src="https://datastudio.google.com/embed/reporting/4400e6d0-4b30-4a47-be27-56948ef15959/page/paF7" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>


        <!--
        <div class="col-md-6" *ngIf="json.horizon_nuestros_numeros.section_graphics.active">
          <div class="chart_main mb-32">
            <canvas id="chart-0" width="400" height="400"></canvas>
          </div>
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="chart-container h-100">
                <canvas id="chart-1"></canvas>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="chart-container h-100">
                <canvas id="chart-2"></canvas>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="chart-container h-100">
                <canvas id="chart-3"></canvas>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </ng-container>
  </div>
</section>

<!-- Estudios bibliométricos -->
<section class="uc-section uc-section__home" *ngIf="json['horizon_estudios_bibliometricos']['active'] && !editing">
  <div class="container">
    <ng-container *ngIf="data['studies']">
      <app-title [title]="json['horizon_estudios_bibliometricos']" [type]="'complex'"></app-title>
      <div class="row">
        <div class="col-lg-3 col-6 mb-32" *ngFor="let study of data['studies']; let i = index">
          <div class="uc-card uc-card--gray card-height--same" *ngIf="i < 4 ">
            <div class="uc-card_body p-32">
              <h3>{{ study['archivo'] }}</h3>
              <div class="uc-text-divider divider-primary my-16"></div>
              <div class="uc-card_excerpt mb-24">
                <p>{{ study['descripcion'] }}</p>
              </div>
              <a title="Descargar {{ study['archivo'] }}" href="{{ study['descarga'] }}" class="uc-btn btn-primary mt-auto" download>Descargar <i class="uc-icon icon-shape--rounded">get_app</i></a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
