<section class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active']">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <ng-container *ngIf="json['horizon_header']['section_slider']['active']">
      <!-- partials/media/slider -->
      <app-slider [sliderData]="data['news']" *ngIf="data['news'];"></app-slider>
    </ng-container>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_anteriores']['active']">
  <div class="container">
    <h2 class="mb-24">{{ json['horizon_anteriores']['title'] }}</h2>
    <div class="row mb-24" *ngIf="data['news']">
      <ng-container *ngFor="let news of data['news']; let i = index">
        <div class="col-lg-6 mb-32" *ngIf="i > 2 && i < 5">
          <!-- partials/cards/card-horizontal -->
          <app-card-horizontal [data]="news" [dataOrientation]="'image-left'" [dataDivider]="true" [excerpt]="true"></app-card-horizontal>
        </div>
        <div class="col-lg-6 mb-32" *ngIf="i > 4 && i < 7">
          <!-- partials/cards/card-horizontal -->
          <app-card-horizontal [data]="news" [dataOrientation]="'image-left'" [dataDivider]="true" [excerpt]="false"></app-card-horizontal>
        </div>
        <div class="col-md-4 mb-32" *ngIf="i > 6 && i < 13">
          <!-- partials/cards/card-horizontal -->
          <app-card-normal [data]="news" [divider]="true" [excerpt]="true"></app-card-normal>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_exploracion']['active']">
  <div class="container">
    <app-title [title]="json['horizon_exploracion']['title']" [type]="'decorated'"></app-title>
    <div class="row no-gutters" *ngIf="data['news']">
      <div class="col-md-8 mb-32 mb-md-0">
        <article class="uc-card card-bg--image card-gradient--bottom-blue uc-card--edge h-100" [style.background-image]="getBackgroundImage(data['news'][0]['image']['url'])">
          <div class="uc-card_body">
            <a title="{{ data['news'][0]['tag']['title'] }}" href="{{ data['news'][0]['tag']['url'] }}" class="uc-tag">{{ data['news'][0]['tag']['text'] }}</a>
            <h3 class="mt-auto text-color--light text-size--32"><a title="" href="#">{{ data['news'][0]['title'] }}</a></h3>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <div class="row no-gutters">
          <ng-container *ngFor="let news of data['news']; let i = index">
            <div class="col-12" *ngIf="i > 0 && i < 4">
              <app-card-horizontal [data]="news" [dataOrientation]="'image-left'" [dataDivider]="false" [excerpt]="false"></app-card-horizontal>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
