<section class="uc-section uc-section__main" *ngIf="data['news']">
  <div class="container-fluid uc-container--fluid" [style.background-image]="getBackgroundImage(data['news']['image']['url'])" *ngIf="json['horizon_header']['active']">
    <div class="uc-veil uc-veil--black"></div>
  </div>
  <div class="container uc-container--pushed">
    <div class="uc-card mb-32 no-contour">
      <div class="uc-card_body uc-card_body--padded">
        <div class="row">
          <div class="offset-md-1 col-md-10 offset-0" *ngIf="json['horizon_header']['active']">
            <!-- partials/commons/breadcrumbs -->
            <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
            <a title="Tag" href="#" class="uc-tag mb-8">Texto</a>
            <h1 class="mb-32">{{ data['news']['title'] }}</h1>
          </div>
          <div class="col-md-9" *ngIf="json['horizon_header']['active']">
            <div class="row my-60">
              <div class="offset-md-1 col-md-4 col-5 offset-0 d-flex align-items--center">
                <span style="line-height: 1;">{{ data['news']['date'] }}</span>
              </div>
              <div class="col-7 d-flex align-items--center">
                <hr class="uc-hr m-0">
              </div>
            </div>
            <div class="row" *ngIf="json['horizon_header']['active']">
              <div class="offset-md-1 col-md-10 offset-0 d-flex align-items--center">
                <p class="text-size--20 text-weight--700 mb-0">{{ data['news']['excerpt'] }}</p>
              </div>
              <div class="offset-md-1 col-11 offset-0">
                <div class="uc-text-divider divider-secondary my-32"></div>
              </div>
            </div>
            <div class="row" *ngIf="data['news']['content']">
              <ng-container *ngFor="let content of data['news']['content']">
                <div class="offset-md-1 col-md-10 offset-0" *ngIf="content['type'] == 'text'">
                  <p class="text-weight--700">{{ content['content'] }}</p>
                </div>
                <ng-container *ngIf="content['type'] == 'image'">
                  <div class="offset-md-1 col-md-10 offset-0" *ngIf="content['title'] != ''">
                    <h2 class="text-size--24 mt-60">{{ content['title'] }}</h2>
                  </div>
                  <div class="col-12">
                    <figure class="mt-32 mb-60">
                      <img src="{{ content['content'] }}" alt="image" class="img-fluid">
                    </figure>
                  </div>
                </ng-container>
                <div class="offset-md-1 col-md-11 offset-0 my-60" *ngIf="content['type'] == 'quote_bordered'">
                  <div class="uc-quote quote-lg pl-32 quote-bordered">"{{ content['content'] }}"</div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-md-3">
            <div class="uc-card mb-32" *ngIf="json['horizon_tags']['active']">
              <div class="uc-card_body">
                <span class="uc-subtitle text-color--dark"><i class="uc-icon">local_offer</i>{{ json['horizon_tags']['title'] }}</span>
                <hr class="uc-hr my-24">
                <div class="mb-16" *ngFor="let tags of data['news']['tags']">
                  <span class="uc-subtitle d-block mb-8"><i class="uc-icon text-color--gray-dark">local_offer</i>{{ tags['title'] }}</span>
                  <ng-container *ngFor="let tag of tags['tags']">
                    <a title="{{ tag['title'] }}" [routerLink]="[tag['url']]" class="uc-tag mb-8">{{ tag['text'] }}</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="offset-md-1 col-md-8 offset-0 mt-60" *ngIf="json['horizon_relacionados']['active']">
            <!-- partials/commons/title -->
            <app-title [title]="json['horizon_relacionados']" [type]="'complex'"></app-title>
            <div class="row mb-60">
              <div class="col-md-6 col-12" *ngFor="let public of data['publics']; let i = index">
                <!-- partials/cards/card-horizontal -->
                <app-card-normal [data]="public" [divider]="false" [excerpt]="false" *ngIf="i < 2"></app-card-normal>
              </div>
            </div>
          </div>

          <div class="offset-md-1 col-md-7 offset-0">
            <hr class="uc-hr">
            <div class="row my-32">
              <div class="col-lg-6 col-12">
                <span class="uc-subtitle">¿Te gusta esta publicación?</span>
                <div class="d-flex align-items--center">
                  <button type="button" name="button" (click)="likeNovelty()">
                    <i class="uc-icon text-size--40 pr-16" *ngIf="!liked">favorite_border</i>
                    <i class="uc-icon text-size--40 pr-16" *ngIf="liked">favorite</i>
                  </button>
                  <p class="text-weight--bold text-size--32 mb-0">200</p>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <span class="uc-subtitle">Comparte esta publicación</span>
                <div class="mt-8">
                  <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                    <img src="assets/img/logo-uc-facebook.svg" alt="Red social" style="width: 25px;">
                  </button>
                  <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                    <img src="assets/img/logo-uc-twitter.svg" alt="Red social" style="width: 25px;">
                  </button>
                  <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                    <img src="assets/img/envelope.svg" alt="Red social" style="width: 25px;">
                  </button>
                </div>
              </div>
            </div>
            <hr class="uc-hr">
          </div>

          <div class="offset-md-1 col-md-7 offset-0 my-60" *ngIf="json['horizon_comentarios']['active']">
            <div class="uc-card uc-card--gray">
              <div class="uc-card_body">
                <ng-container *ngIf="json['horizon_formulario_comentario']['active']">
                  <ng-container *ngIf="!response['show']">
                    <!-- partials/commons/title -->
                    <app-title [title]="json['horizon_formulario_comentario']['title']" [type]="'subdecorated'"></app-title>
                    <form (ngSubmit)="submitComment(form, $event)" #form="ngForm">
                      <div class="uc-form-group my-16">
                        <textarea id="{{ json['horizon_formulario_comentario']['forms']['textarea']['name'] }}" name="{{ json['horizon_formulario_comentario']['forms']['textarea']['name'] }}" rows="8" class="uc-input uc-input-style uc-input__textarea p-8 w-100" placeholder="{{ json['horizon_formulario_comentario']['forms']['textarea']['placeholder'] }}" ngModel></textarea>
                      </div>
                      <div class="col-md-4 offset-md-8 col-12 offset-0">
                        <button type="submit" name="{{ json['horizon_formulario_comentario']['forms']['button']['name'] }}" class="uc-btn btn-cta">{{ json['horizon_formulario_comentario']['forms']['button']['text'] }}</button>
                      </div>
                    </form>
                  </ng-container>
                  <ng-container *ngIf="response['show']">
                    <div class="row">
                      <div class="col-12 font-centered mb-24">
                        <h2>{{ response['text'] }}</h2>
                      </div>
                      <div class="offset-md-6 col-md-6 offset-0 col-12">
                        <button title="Enviar" type="submit" class="uc-btn btn-cta" (click)="resetForm()">{{ json['horizon_formulario_comentario']['forms']['reset']['text'] }}</button>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="json['horizon_comentarios']['active']">
                  <!-- partials/commons/title -->
                  <app-title [title]="json['horizon_comentarios']['title']" [type]="'subdecorated'" class="my-24"></app-title>
                  <ng-container *ngFor="let comment of data['comments']; let i = index">
                    <article>
                      <span class="text-color--gray-dark text-size--14">{{ comment['date'] }}</span>
                      <h4 class="text-size--16">{{ comment['user'] }}</h4>
                      <p class="mt-8">{{ comment['text'] }}</p>
                    </article>
                    <hr class="uc-hr my-24">
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
