<section class="uc-section uc-section__main">
  <div class="container-fluid uc-container--fluid" *ngIf="data['content']" [style.background-image]="getBackgroundImage(data['content']['horizon_header']['image'])">
    <div class="uc-veil uc-veil--black"></div>
  </div>
  <div class="container uc-container--pushed">
    <div class="uc-card mb-32 no-contour">
      <div class="uc-card_body uc-card_body--padded">
        <div class="row">
          <div class="offset-md-1 col-md-7 offset-0" *ngIf="data['content']">
            <!-- partials/commons/breadcrumbs -->
            <app-breadcrumbs [breadcrumbs]="data['content']['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="data['content']['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
            <a title="data['content']['horizon_header']['tag']['title']" href="data['content']['horizon_header']['tag']['url']" class="uc-tag mb-8">{{ data['content']['horizon_header']['tag']['text'] }}</a>
            <h1 class="mb-32">{{ data['content']['horizon_header']['title'] }}</h1>
            <p class="text-size--20 text-weight--700">{{ data['content']['horizon_header']['excerpt'] }}</p>
            <div class="uc-text-divider divider-secondary my-16"></div>
          </div>

          <ng-container *ngIf="data['content']">
            <ng-container *ngFor="let content of data['content']['horizon_contents']; let i = index">

              <ng-container *ngIf="content['type'] == 'text'">
                <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                  <h2 class="text-size--24 mb-8" *ngIf="content['title'] != ''">{{ content['title'] }}</h2>
                  <p>{{ content['content'] }}</p>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'image'">
                <div class="col-md-9 my-60" *ngIf="content['active']">
                  <figure><img src="{{ content['content'] }}" alt="Imagen" class="img-fluid"></figure>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'quote'">
                <div class="offset-md-1 col-md-8 offset-0 my-60" *ngIf="content['active']">
                  <div class="uc-quote quote-lg pl-32">"{{ content['content'] }}"</div>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'quote_bordered'">
                <div class="offset-md-1 col-md-8 offset-0 my-60" *ngIf="content['active']">
                  <div class="uc-quote quote-lg pl-32 quote-bordered">"{{ content['content'] }}"</div>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'list_normal'">
                <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                  <ul class="uc-list uc-list--bins mb-0">
                    <li class="uc-list__item mb-16" *ngFor="let item of content['content']">{{ item['text'] }}</li>
                  </ul>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'list_links'">
                <div class="offset-md-1 col-md-8 offset-0 mt-60" *ngIf="content['active']">
                  <h2 class="text-size--24 mb-8">{{ content['title'] }}</h2>
                  <ul class="uc-list uc-list--bins mb-0">
                    <li class="uc-list__item mb-8" *ngFor="let item of content['content']">
                      <a title="{{ item['url'] }}" href="{{ item['title'] }}" class="uc-link no-decoration text-weight--500">
                        {{ item['text'] }}<i class="uc-icon text-size--12">{{ item['icon'] }}</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'table'">
                <div class="col-md-9 my-60" *ngIf="content['active']">
                  <table class="uc-table">
                    <thead>
                      <tr>
                        <th *ngFor="let th of content['content']['columns']">{{ th }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let td of content['content']['rows']">
                        <td><strong>{{ td['hora'] }}</strong></td>
                        <td>{{ td['seccion'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'video'">
                <div class="col-md-9 my-60" *ngIf="content['active']">
                  <article class="box box--video">
                    <video data-role="video-player" src="{{ content['content'] }}" type="video/mp4" controls></video>
                  </article>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'map'">
                <div class="col-md-9" *ngIf="content['active']">
                  <h2>{{ content['title'] }}</h2>
                  <span class="uc-subtitle">{{ content['content']['direccion'] }}</span>
                  <div id="map_{{ i }}" class="map-leaflet"></div>
                </div>
              </ng-container>

            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</section>
