<section class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active']">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ json['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="json['horizon_header']['section_excerpt']['active']">
          {{  json['horizon_header']['section_excerpt']['excerpt']  }}
        </div>
      </div>
      <div class="col-md-3 offset-md-1 col-12">
        <div class="row">
          <div class="col-md-12 col-6">
            <button type="button" title="Botón" class="uc-btn btn-cta mt-16">Ingresar</button>
          </div>
          <div class="col-md-12 col-6">
            <a title="{{ compartir['compartir-investigacion']['boton']['titulo'] }}" [routerLink]="[ compartir['compartir-investigacion']['boton']['url'] ]" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['titulo'] }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page py-60">
  <div class="container">
    <hr class="uc-hr">
  </div>
</section>

<section class="uc-section uc-section__page pb-32">
  <div class="container">
    <div class="uc-card uc-card--gray mb-32">
      <div class="uc-card_body uc-card_body--padded">
        <!-- partials/commons/search-form -->
        <!-- El formulario recibe los parámetros del JSON 05-busqueda-tesis, cambiarlos de acuerdo al template -->
        <app-search-form [data]="busqueda_tesis"></app-search-form>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_destacados']['active']">
  <div class="container">
    <div class="row mb-24">
      <div class="col-12">
        <!-- partials/commons/title -->
        <app-title [title]="json['horizon_destacados']['title']" [type]="'decorated'"></app-title>
      </div>
      <div class="col-md-8 col-12">
        <span>{{ json['horizon_destacados']['excerpt'] }}</span>
      </div>
    </div>
    <div class="row" *ngIf="data['publics']">
      <ng-container *ngFor="let publication of data['publics']; let i = index">
        <div class="col-md-4 col-12 mb-24" *ngIf="i < 3">
          <!-- partials/cards/card-normal -->
          <app-card-normal [data]="publication" [excerpt]="false"></app-card-normal>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_topics']['active']">
  <div class="container">
    <!-- partials/commons/title -->
    <app-title [title]="json['horizon_topics']['title']" [type]="'decorated'"></app-title>
    <div class="row mb-24">
      <div class="col-md-8 col-12">
        <div class="uc-excerpt m-0" *ngIf="json['horizon_topics']['excerpt'] != ''"><p>{{ json['horizon_topics']['excerpt'] }}</p></div>
      </div>
    </div>
    <div class="row" *ngIf="data['topics']">
      <ng-container *ngFor="let topics of data['topics']; let i = index">
        <ng-container *ngIf="json['horizon_topics']['section_cards_small']['active']">
          <div class="col-lg-3 col-md-6 col-12 mb-32" *ngIf="i > 0 && i < 9">
            <!-- partials/cards/card-topic -->
            <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_tesis']['active'] && data['publics']">
  <div class="container">
    <app-title [title]="json['horizon_tesis']" [type]="'mega'"></app-title>
    <div class="row">
      <ng-container *ngFor="let study of data['publics']; let i = index">
        <div class="col-md-6 col-12 mb-32" *ngIf="i < 8 && study['type']['slug'] == json['horizon_tesis']['type_slug']">
          <!-- partials/cards/card-publications -->
          <app-card-publications [data]="study" [heightSame]="true"></app-card-publications>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!-- @todo -->
<!-- <section class="uc-section uc-section__page pb-32">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <figure class="uc-card_img">
            <div style="display: flex; justify-content: space-between; padding: 20px; position: absolute; width: 100%;">
              <a title="Ir a " href="#" class="uc-tag">Texto tag</a>
              <i class="uc-icon">book</i>
            </div>
            <a title="Ir a " href="/tecnologia_single.shtml"><img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen"></a>
          </figure>
          <div class="uc-card_body">
            <h3>
              <a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a>
            </h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
            <span class="mt-8 text-color--gray-dark">Fecha: 2010</span>
            <span class="mt-8 text-color--gray-dark">DOI: 15.749/7492-7401.3741.69538</span>
            <span class="mt-8 text-color--gray-dark mb-16">Tesis de postgrado</span>
            <div class="text-right mt-auto">
              <a title="Enlace" href="#" class="uc-link">Seguir leyendo</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <figure class="uc-card_img">
            <div style="display: flex; justify-content: space-between; padding: 20px; position: absolute; width: 100%;">
              <a title="Ir a " href="#" class="uc-tag">Texto tag</a>
              <i class="uc-icon">book</i>
            </div>
            <a title="Ir a " href="/tecnologia_single.shtml"><img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen"></a>
          </figure>
          <div class="uc-card_body">
            <h3>
              <a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a>
            </h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
            <span class="mt-8 text-color--gray-dark">Fecha: 2010</span>
            <span class="mt-8 text-color--gray-dark">DOI: 15.749/7492-7401.3741.69538</span>
            <span class="mt-8 text-color--gray-dark mb-16">Tesis de postgrado</span>
            <div class="text-right mt-auto">
              <a title="Enlace" href="#" class="uc-link">Seguir leyendo</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <figure class="uc-card_img">
            <div style="display: flex; justify-content: space-between; padding: 20px; position: absolute; width: 100%;">
              <a title="Ir a " href="#" class="uc-tag">Texto tag</a>
              <i class="uc-icon">book</i>
            </div>
            <a title="Ir a " href="/tecnologia_single.shtml"><img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen"></a>
          </figure>
          <div class="uc-card_body">
            <h3>
              <a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a>
            </h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
            <span class="mt-8 text-color--gray-dark">Fecha: 2010</span>
            <span class="mt-8 text-color--gray-dark">DOI: 15.749/7492-7401.3741.69538</span>
            <span class="mt-8 text-color--gray-dark mb-16">Tesis de postgrado</span>
            <div class="text-right mt-auto">
              <a title="Enlace" href="#" class="uc-link">Seguir leyendo</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <div class="uc-card_body">
            <i class="uc-icon uc-icon--cornered" style="color: #0176DE">book</i>
            <h3><a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a></h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
            <span class="mt-8 text-color--gray-dark">Fecha: 2010</span>
            <span class="mt-8 text-color--gray-dark">DOI: 15.749/7492-7401.3741.69538</span>
            <span class="mt-8 text-color--gray-dark mb-16">Tesis de postgrado</span>
            <div class="text-right mt-auto">
              <a title="Enlace" href="#" class="uc-link">Seguir leyendo</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <div class="uc-card_body">
            <i class="uc-icon uc-icon--cornered" style="color: #0176DE">book</i>
            <h3><a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a></h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
            <span class="mt-8 text-color--gray-dark">Fecha: 2010</span>
            <span class="mt-8 text-color--gray-dark">DOI: 15.749/7492-7401.3741.69538</span>
            <span class="mt-8 text-color--gray-dark mb-16">Tesis de postgrado</span>
            <div class="text-right mt-auto">
              <a title="Enlace" href="#" class="uc-link">Seguir leyendo</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <div class="uc-card_body">
            <i class="uc-icon uc-icon--cornered" style="color: #0176DE">book</i>
            <h3><a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
            <span class="mt-8 text-color--gray-dark">Fecha: 2010</span>
            <span class="mt-8 text-color--gray-dark">DOI: 15.749/7492-7401.3741.69538</span>
            <span class="mt-8 text-color--gray-dark mb-16">Tesis de postgrado</span>
            <div class="text-right mt-auto">
              <a title="Enlace" href="#" class="uc-link">Seguir leyendo</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <div class="uc-card_body">
            <i class="uc-icon uc-icon--cornered" style="color: #0176DE">book</i>
            <h3><a title="Enlace" href="#">Lorem ipsum dolor sit amet</a></h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <div class="uc-card_body">
            <i class="uc-icon uc-icon--cornered" style="color: #0176DE">book</i>
            <h3><a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a></h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-12 mb-32">
        <article class="uc-card card-height--same">
          <div class="uc-card_body">
            <i class="uc-icon uc-icon--cornered" style="color: #0176DE">book</i>
            <h3><a title="Enlace" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</a></h3>
            <span class="mt-8">María de los Ángeles Rodríguez Soto</span>
          </div>
        </article>
      </div>
    </div>
  </div>
</section> -->
