<div class="d-flex align-items-center mb-32" *ngIf="type == 'decorated'">
  <h2>{{ title }}</h2>
  <span class="uc-heading-decoration"></span>
  <span class="uc-heading-decoration m-0"></span>
</div>

<div class="d-flex align-items-center" *ngIf="type == 'decorated-marginless'">
  <h2>{{ title }}</h2>
  <span class="uc-heading-decoration"></span>
  <span class="uc-heading-decoration m-0"></span>
</div>

<div class="d-flex align-items-center" *ngIf="type == 'subdecorated'">
  <h3>{{ title }}</h3>
  <span class="uc-heading-decoration"></span>
  <span class="uc-heading-decoration m-0"></span>
</div>

<div class="d-flex mb-24 uc-title__complex" *ngIf="type == 'complex'">
  <div class="d-flex align-items-center">
    <h2 class="text-size--20 text-weight--700">{{ title['title'] }}</h2>
    <span class="uc-heading-decoration"></span>
    <span class="uc-heading-decoration m-0"></span>
  </div>
  <div class="d-flex align-items-center">
    <a title="{{ title['link']['title'] }}" href="{{ title['link']['url'] }}" class="uc-btn btn-inline text-right">{{ title['link']['text'] }}<i class="uc-icon icon-shape--rounded">{{ title['link']['icon'] }}</i></a>
  </div>
</div>

<div class="d-flex mb-24 uc-title__complex" *ngIf="type == 'mega'">
  <div>
    <div class="d-flex align-items-center">
      <h2>{{ title['title'] }}</h2>
      <span class="uc-heading-decoration"></span>
      <span class="uc-heading-decoration m-0"></span>
    </div>
    <div class="d-flex align-items-center">
      <span>{{ title['excerpt'] }}</span>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <a title="{{ title['link']['title'] }}" [routerLink]="[title['link']['url']]" class="uc-btn btn-inline text-right">{{ title['link']['text'] }}<i class="uc-icon icon-shape--rounded">{{ title['link']['icon'] }}</i></a>
  </div>
</div>
