<section class="uc-section uc-section__header mb-60" *ngIf="mainBibliometrics.horizon_header.active">
  <div class="container">
    <app-breadcrumbs [breadcrumbs]="mainBibliometrics['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="mainBibliometrics['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-6">
        <h1>{{ mainBibliometrics.horizon_header.title }}</h1>
        <div class="uc-excerpt" *ngIf="mainBibliometrics.horizon_header.section_excerpt.active">
          {{mainBibliometrics.horizon_header.section_excerpt.excerpt}}
        </div>
      </div>
      <div class="offset-md-1 col-md-3 offset-0 col-6">
        <ng-container *ngIf="mainBibliometrics.horizon_header.section_sidebar.active && data['studies']">
          <span class="uc-subtitle d-block mb-16">
            {{ mainBibliometrics.horizon_header.section_sidebar.title }}
          </span>
          <ng-container *ngFor="let studies of data['studies']; let i = index">
            <a title="Sección" href="#" class="text-weight--500 d-block mt-8" *ngIf="i != 0" (click)="scrollTo('list_'+i, $event)">Sección {{ i }} - {{ studies['ano'] }}</a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pt-32" *ngIf="data['studies']">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 mb-32" *ngFor="let study of data['studies'][0]['studies']; let i = index">
        <app-card-bibliometrics [cardData]="study" *ngIf="i < 4"></app-card-bibliometrics>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container">
    <hr class="uc-hr">
  </div>
</section>

<section class="uc-section uc-section__page pt-32" *ngIf="data['studies']">
  <div class="container">
    <ng-container *ngFor="let studies of data['studies']; let i = index">
      <div class="uc-table-list" *ngIf="i != 0" id="list_{{i}}">
        <div class="uc-table-list_title">
          <h2 class="text-size--20 text-weight--700">Sección {{ i }} - {{ studies['ano'] }}</h2>
        </div>
        <ul class="uc-table-list_content">
          <li *ngFor="let study of studies['studies']">
            <a title="{{ study['link']['title'] }}" href="{{ study['link']['url'] }}" class="uc-btn btn-listed" download>
              {{ study['title'] }}
              <i class="uc-icon icon-small">{{ study['link']['icon'] }}</i>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</section>
