<section class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active']">
  <div class="container" *ngIf="data['user']">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" [particular]="data['user']['full_name']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img src="{{ data['user']['picture'] }}" alt="Foto de perfil" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4">
        <h1>{{ data['user']['full_name'] }}</h1>
        <p class="text-weight--700 text-size--20">{{ data['user']['position'] }}</p>
        <button type="button" name="button" class="uc-btn p-0" (click)="printProfile(dataPrint)">
          <span class="uc-subtitle"><i class="uc-icon mr-8">print</i>Imprimir</span>
        </button>
        <p class="mt-16">{{ data['user']['description'] }}</p>
      </div>
      <div class="col-md-4">
        <article class="uc-card mb-32" *ngIf="json['horizon_orcid']['active']">
          <div class="uc-card_body">
            <span class="uc-subtitle">{{ json['horizon_orcid']['title'] }}</span>
            <hr class="uc-hr my-24">
            <a title="Link" href="https://orcid.org/0000-0047-3437-1580" class="uc-link mt-8 text-size--14 text-weight--500">
              <img src="assets/img/orcid-icon.png" alt="ORCID" class="img-fluid img-social mr-1">https://orcid.org/0000-0047-3437-1580
            </a>
            <span class="text-color--gray-dark mt-8">{{ data['user']['department']['name'] }}</span>
            <span class="text-color--gray-dark mt-8">Pontificia Universidad Católica de Chile</span>
            <a title="Link" href="#" class="uc-link mt-8 text-weight--500">{{ data['user']['email'] }}</a>
            <a title="Link" href="#" class="uc-link mt-8 text-weight--500">(+56 2) 23541907</a>
            <a title="Contacto" href="#" class="uc-btn btn-cta mt-60">Contáctanos</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page">
  <div class="container py-16">
    <hr class="uc-hr my-32">
  </div>
</section>

<section class="uc-section uc-section__page" *ngIf="json['horizon_tematicas']['active']">
  <div class="container">
    <app-title [title]="json['horizon_tematicas']['title']" [type]="'decorated'"></app-title>
    <div class="row mb-32">
      <div class="col-md-8" *ngIf="json['horizon_tematicas']['excerpt']">
        <p>{{ json['horizon_tematicas']['excerpt'] }}</p>
      </div>
    </div>
    <div class="row" *ngIf="data['topics']">
      <ng-container *ngFor="let topic of data['topics']; let i = index">
        <div class="col-md-3 mb-32" *ngIf="i < 8" >
          <!-- partials/cards/card-topic -->
          <app-card-topic [cardTopicData]="topic" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pt-32" *ngIf="json['horizon_investigaciones']['active']">
  <div class="container">
    <app-title [title]="json['horizon_investigaciones']['title']" [type]="'decorated'"></app-title>
    <div class="row" *ngIf="data['publics']">
      <ng-container *ngFor="let public of data['publics']; let i = index">
        <div class="col-md-6 col-12 mb-32" *ngIf="i < 4">
          <!-- partials/cards/card-publications -->
          <app-card-publications [data]="public" [heightSame]="false"></app-card-publications>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!-- En esta sección, se debe redibujar todo lo que se quiere imprimir. Esto es para evitar imprimir todos los elementos extra que no son necesarios -->
<section class="uc-section uc-section__printable" #dataPrint>
  <div class="container mb-60">
    <!-- partials/commons/breadcrumbs -->
    <div class="row" *ngIf="data['user']">
      <div class="col-md-4">
        <figure>
          <img src="{{ data['user']['picture'] }}" alt="Foto de perfil" class="img-fluid">
        </figure>
      </div>
      <div class="col-md-4">
        <h1>{{ data['user']['full_name'] }}</h1>
        <p class="text-weight--700 text-size--20">{{ data['user']['position'] }}</p>
        <p class="mt-16">{{ data['user']['description'] }}</p>
      </div>
      <div class="col-md-4">
        <article class="uc-card mb-32" *ngIf="json['horizon_orcid']['active']">
          <div class="uc-card_body">
            <span class="uc-subtitle">{{ json['horizon_orcid']['title'] }}</span>
            <hr class="uc-hr my-24">
            <a title="Link" href="https://orcid.org/0000-0047-3437-1580" class="uc-link mt-8 text-size--14 text-weight--500">
              <img src="assets/img/orcid-icon.png" alt="ORCID" class="img-fluid img-social mr-1">https://orcid.org/0000-0047-3437-1580
            </a>
            <span class="text-color--gray-dark mt-8">{{ data['user']['department']['name'] }}</span>
            <span class="text-color--gray-dark mt-8">Pontificia Universidad Católica de Chile</span>
            <a title="Link" href="#" class="uc-link mt-8 text-weight--500">{{ data['user']['email'] }}</a>
            <a title="Link" href="#" class="uc-link mt-8 text-weight--500">(+56 2) 23541907</a>
            <a title="Contacto" href="#" class="uc-btn btn-cta mt-60">Contáctanos</a>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="container my-60">
    <app-title [title]="json['horizon_tematicas']['title']" [type]="'decorated'"></app-title>
    <div class="row mb-32">
      <div class="col-md-8">
        <p>{{ json['horizon_tematicas']['excerpt'] }}</p>
      </div>
    </div>
    <div class="row" *ngIf="data['topics']">
      <ng-container *ngFor="let topic of data['topics']; let i = index">
        <div class="col-md-3 mb-32" *ngIf="i < 8" >
          <!-- partials/cards/card-topic -->
          <app-card-topic [cardTopicData]="topic" [cardTopicIndex]="i" [cardTopicImage]="false"></app-card-topic>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="container mt-60">
    <app-title [title]="json['horizon_investigaciones']['title']" [type]="'decorated'"></app-title>
    <div class="row" *ngIf="data['publics']">
      <ng-container *ngFor="let public of data['publics']; let i = index">
        <div class="col-md-6 col-12 mb-32" *ngIf="i < 4">
          <!-- partials/cards/card-publications -->
          <app-card-publications [data]="public" [heightSame]="false"></app-card-publications>
        </div>
      </ng-container>
    </div>
  </div>
</section>
