/* You can add global styles to this file, and also import other style files */
@import "assets/css/main";

@import "../node_modules/placeholder-loading/dist/css/placeholder-loading";

th {
  min-width: 120px;
}

.line-height--1 {
  line-height: 1px
}
.map-leaflet {
  height: 500px;
}
.no-contour {
  border: none;
  box-shadow: none;
}
.quote-bordered {
  border-left: 1px solid #000000;
}
.uc-search_input {
  border: 3px solid rgb(254, 198, 13);
  border-radius: 4px;
}
.uc-search_button {
  background-color: transparent;
  border: 3px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.uc-section__printable {
  display: none;
}
@media print {
  .uc-section__printable {
    display: block;
  }
}
.ws--nw {
  white-space: nowrap
}


button.btn-cta:disabled {
  opacity: .75;
}
button.btn-cta:disabled:hover {
  background-color: #fec60d;
}
input.ng-touched.ng-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 8px 0 rgba(220,53,69,.25);
}
.error-msg {
  color: #dc3545;
}
.uc-input_search {
  border: 3px solid rgb(254, 198, 13);
  box-shadow: 0px 0px 5px 0px rgba(254, 198, 13, 1);
}
.uc-form-group span {
  position: absolute;
}
.material-icons.md-60 { font-size: 60px; }

.alert-info{
  background: #ffefba;
  color: #c05600;
  padding: 2px 0px;
  margin: 0px 16px;
  border-radius: 5px;
}
iframe{
  height: 1500px !important;
  width: 100% !important;
}
.pointer{
  cursor: pointer;
}
.uc-navbar{
  padding: 40px 0 20px;
}
.fixed{
  position:fixed;
  width: 80%;
  bottom: 0px;
  left: 0px;
  margin:0px 10%;
  z-index: 1000;
}
.margin-top-300{
  margin-top: 300px;
}
.uc-dropdown_list{
  max-width: 400px !important;
  width: 400px;
}
.uc-dropdown_list a{
  width: 300px;
}
.ico-n-reg{
  background: #E3AE00;
  color:#03122E;
  text-decoration-line: none;
  border-radius: 5px;
  padding:4px;
  margin:0px;
}