<div class="container pb-80">
  <div class="row">
    <div class="col-lg-3">
      <ul class="uc-footer_list mb-40">
        <li>
          <a class="navbar-brand" title="{{ footer['imagen']['texto-alt'] }}" [routerLink]="['/']">
            <img class="img-fluid" src="assets/img/logo-uc-white.png" alt="{{ footer['imagen']['texto-alt'] }}">
          </a>
        </li>
        <li class="mt-32">
          <span class="text-size--16 text-weight--500">{{ footer['secciones'][0]['titulo'] }}</span>
        </li>
        <li>
          <p class="mb-0">{{ footer['secciones'][0]['texto-direccion'] }}</p>
        </li>
        <li>
          <a href="{{ footer['secciones'][0]['link-como-llegar']['link'] }}" title="{{ footer['secciones'][0]['link-como-llegar']['text'] }}">{{ footer['secciones'][0]['link-como-llegar']['text'] }}</a>
        </li>
        <li>
          <i class="uc-icon icon-shape--rounded mr-8">phone</i>
          <a href="{{ footer['secciones'][0]['numero-contacto']['link'] }}" title="{{ footer['secciones'][0]['numero-contacto']['text'] }}">{{ footer['secciones'][0]['numero-contacto']['text'] }}</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-2">
      <ng-container *ngFor="let item of menuRepos; let i = index">
        <ng-container *ngIf="i == 0">
          <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
          <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
            <li *ngFor="let li of item['sub']">
              <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-lg-2">
        <ng-container *ngFor="let item of menuRepos; let i = index">
          <ng-container *ngIf="i > 0 && i < 2">
            <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
            <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
              <li *ngFor="let li of item['sub']">
                <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </div>

    <div class="col-lg-2">
      <ng-container *ngFor="let item of menuRepos; let i = index">
        <ng-container *ngIf="i> 1 && i< 4">
          <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
          <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
            <li *ngFor="let li of item['sub']">
              <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-lg-2">
        <ng-container *ngFor="let item of menuRepos; let i = index">
            <ng-container *ngIf="i> 1 && i>3">
              <div class="uc-footer_list-title footer-collapse-title mt-16" [attr.data-collapse]="'footer_' + i">{{ item['name'] }}</div>
              <ul class="uc-footer_list footer-collapse" [attr.data-toggle]="'footer_' + i">
                <li *ngFor="let li of item['sub']">
                  <a title="{{ li['name'] }}" [routerLink]="[li['link']]">{{ li['name'] }}</a>
                </li>
              </ul>
            </ng-container>
        </ng-container>

        <ul class="uc-footer_list social_list mt-32">
              <li class="social_item" *ngFor="let red of footer['redes']">
                <a class="navbar-brand no-decoration" title="{{ red['texto-alt'] }}" href="{{ red['url-img'] }}">
                  <img src="assets/img/logo-uc-{{ red['texto-alt'] }}.svg" alt="{{ red['texto-alt'] }}" class="img-fluid img-social">
                </a>
              </li>
        </ul>
    </div>
  </div>
</div>
