<section class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active']">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-12">
        <h1 class="mb-24">{{ json['horizon_header']['title'] }}</h1>
      </div>
      <div class="col-md-8 col-12">
        <p>{{ json['horizon_header']['excerpt'] }}</p>
        <ng-container *ngIf="json['horizon_header']['section_conditions']['active']">
          <p class="mt-24 text-weight--700 mb-0">{{json['horizon_header']['section_conditions']['text']}}</p>
          <ul class="uc-list uc-list--gots mt-8">
            <li class="uc-list__item" *ngFor="let term of json['horizon_header']['section_conditions']['terms']">{{ term }}</li>
          </ul>
        </ng-container>
      </div>
      <div class="col-md-4 col-12" *ngIf="json['horizon_header']['section_upload']['active']">
        <div class="uc-card">
          <div class="uc-card_body uc-card_body--featured font-centered">
            <h2>{{ compartir['compartir-investigacion']['titulo'] }}</h2>
            <button type="button" title="{{ compartir['compartir-investigacion']['titulo'] }}" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['boton']['titulo'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page py-60">
  <div class="container">
    <hr class="uc-hr">
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_documentos_proceso']['active']">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <app-title [title]="json['horizon_documentos_proceso']['title']" [type]="'decorated'"></app-title>
        <table class="uc-table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let th of json['horizon_documentos_proceso']['content']['columns']">{{th}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of json['horizon_documentos_proceso']['content']['rows']; let i = index">
              <td>
                <div class="uc-form-group mb-0">
                  <input id="dp_{{i}}" name="dp_{{i}}" type="checkbox" class="uc-input__checkbox mr-8" value="dp_{{i}}">
                </div>
              </td>
              <td><a title="Link" href="#"><strong>{{td['titulo']}}</strong></a></td>
              <td>{{td['seccion']}}</td>
              <td><a title="Email" href="#" class="uc-link no-decoration text-weight--500">{{td['remitent']}}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6 col-4">
            <button title="Eliminar" href="#" class="uc-btn btn-primary mt-24 w-100">Eliminar documentos seleccionados<i class="uc-icon icon-shape--rounded">delete</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_tareas_pendientes']['active']">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <app-title [title]="json['horizon_tareas_pendientes']['title']" [type]="'decorated'"></app-title>
        <table class="uc-table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let th of json['horizon_tareas_pendientes']['content']['columns']">{{th}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of json['horizon_tareas_pendientes']['content']['rows']; let i = index">
              <td>
                <div class="uc-form-group mb-0">
                  <input id="dp_{{i}}" name="dp_{{i}}" type="checkbox" class="uc-input__checkbox mr-8" value="dp_{{i}}">
                </div>
              </td>
              <td><a title="Link" href="#"><strong>{{td['titulo']}}</strong></a></td>
              <td>{{td['seccion']}}</td>
              <td><a title="Email" href="#" class="uc-link no-decoration text-weight--500">{{td['remitent']}}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6 col-4">
            <button title="Eliminar" href="#" class="uc-btn btn-primary mt-24 w-100">Eliminar documentos seleccionados<i class="uc-icon icon-shape--rounded">delete</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page py-32" *ngIf="json['horizon_forms']['active']">
  <div class="container">
    <div class="d-flex" style="justify-content: space-between">
      <div class="panel-button_container">
        <div class="panel-line {{ (activePane == 't2' || activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
        <button (click)="activePane = 't1'" class="panel-button {{ activePane == 't1' ? 'active' : '' }}">1</button>
        <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} mt-1">Paso 1</span>
        <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }}">{{ json['horizon_forms']['content'][0]['title'] }}</span>
      </div>
      <div class="panel-button_container">
        <div class="panel-line {{ (activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
        <button (click)="activePane = 't2'" class="panel-button {{ activePane == 't2' ? 'active' : '' }}">2</button>
        <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} mt-1">Paso 2</span>
        <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }}">{{ json['horizon_forms']['content'][1]['title'] }}</span>
      </div>
      <div class="panel-button_container">
        <div class="panel-line {{ activePane == 't4' ? 'active' : '' }}"></div>
        <button (click)="activePane = 't3'" class="panel-button {{ activePane == 't3' ? 'active' : '' }}">3</button>
        <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} mt-1">Paso 3</span>
        <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }}">{{ json['horizon_forms']['content'][2]['title'] }}</span>
      </div>
      <div class="panel-button_container">
        <button (click)="activePane = 't4'" class="panel-button {{ activePane == 't4' ? 'active' : '' }}">4</button>
        <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} mt-1">Paso 4</span>
        <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }}">{{ json['horizon_forms']['content'][3]['title'] }}</span>
      </div>
    </div>
    <form class="form-panel" [formGroup]="uploadForm" (ngSubmit)="saveRecord(uploadForm, $event)" novalidate>
      <div class="panels" [@slide]="activePane">
        <ng-container *ngFor="let forms of json['horizon_forms']['content']; let i = index">
          <div class="panel {{ activePane == 't'+(i+1) ? 'active' : '' }}">
            <div class="d-flex mt-60 mb-24 uc-title__complex">
              <app-title [title]="forms['title']" [type]="'decorated-marginless'"></app-title>
              <div class="d-flex align-items-center">
                <button type="submit" title="Botón" class="uc-btn btn-cta mr-8 ws--nw" *ngIf="i < 3">{{ json['horizon_forms']['buttons']['save_changes']['text'] }}</button>
                <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i < 3"  (click)="activePane = 't' + (i+2)">{{ json['horizon_forms']['buttons']['save_next']['text'] }}</button>
                <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 3" [disabled]="uploadForm.pristine || uploadForm.invalid">Enviar</button>
              </div>
            </div>
            <ng-container *ngIf="i == 0">
              <div class="uc-card uc-card--gray mb-32">
                <div class="uc-card_body">
                  <ng-container *ngFor="let section of forms['sections']; let i = index">
                    <ng-container *ngIf="i == 0">
                      <h3 class="mb-32">{{ section['title'] }}</h3>
                      <div class="row">
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{ section['input_tematica']['name'] }}">{{ section['input_tematica']['label'] }}</label>
                            <select formControlName="input_tematica" class="uc-input-style uc-input uc-input__select" name="{{ section['input_tematica']['name'] }}" id="{{ section['input_tematica']['name'] }}">
                              <ng-container *ngFor="let option of section['input_tematica']['options']">
                                <option value="{{option['value']}}">{{option['text']}}</option>
                              </ng-container>
                            </select>
                            <ng-container *ngIf="(uploadForm.controls['input_tematica'].invalid && (uploadForm.controls['input_tematica'].dirty || uploadForm.controls['input_tematica'].touched) && uploadForm.controls['input_tematica'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{ section['input_importancia']['name'] }}">{{ section['input_importancia']['label'] }}</label>
                            <select formControlName="input_importancia" class="uc-input-style uc-input uc-input__select" name="{{ section['input_importancia']['name'] }}" id="{{ section['input_importancia']['name'] }}">
                              <ng-container *ngFor="let option of section['input_importancia']['options']">
                                <option value="{{option['value']}}">{{option['text']}}</option>
                              </ng-container>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_titulo_investigacion']['label']}}">{{section['input_titulo_investigacion']['label']}}</label>
                            <input formControlName="input_titulo_investigacion" type="text" class="uc-input-style" name="{{section['input_titulo_investigacion']['name']}}" id="{{section['input_titulo_investigacion']['name']}}" placeholder="{{section['input_titulo_investigacion']['placeholder']}}">
                            <ng-container *ngIf="(uploadForm.controls['input_titulo_investigacion'].invalid && (uploadForm.controls['input_titulo_investigacion'].dirty || uploadForm.controls['input_titulo_investigacion'].touched) && uploadForm.controls['input_titulo_investigacion'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_otros_titulos']['name']}}">{{section['input_otros_titulos']['label']}}</label>
                            <div class="row">
                              <div class="col-md-9 col-6">
                                <input formControlName="input_otros_titulos" type="text" class="uc-input-style" name="{{section['input_otros_titulos']['name']}}" id="{{section['input_otros_titulos']['name']}}" placeholder="{{section['input_otros_titulos']['placeholder']}}">
                              </div>
                              <div class="col-md-3 col-6">
                                <button title="Botón" type="button" name="button" class="uc-btn btn-primary w-100 justify--center">Agregar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_resumen']['name']}}">{{section['input_resumen']['label']}}</label>
                            <textarea formControlName="input_resumen" class="uc-input-style" name="{{section['input_resumen']['name']}}" id="{{section['input_resumen']['name']}}" rows="8" cols="80" placeholder="{{section['input_resumen']['placeholder']}}"></textarea>
                            <span class="text-color--gray-dark">{{section['input_resumen']['small']}}</span>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_fecha_publicacion']['name']}}" class="mb-0">{{section['input_fecha_publicacion']['label']}}</label>
                            <input formControlName="input_fecha_publicacion" name="{{section['input_fecha_publicacion']['name']}}" id="{{section['input_fecha_publicacion']['name']}}" class="uc-input-style calendar-box" data-role="datepicker" placeholder="{{section['input_fecha_publicacion']['placeholder']}}">
                            <span>{{section['input_fecha_publicacion']['small']}}</span>
                            <ng-container *ngIf="(uploadForm.controls['input_fecha_publicacion'].invalid && (uploadForm.controls['input_fecha_publicacion'].dirty || uploadForm.controls['input_fecha_publicacion'].touched) && uploadForm.controls['input_fecha_publicacion'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                          <div class="uc-form-group mt-32">
                            <label for="{{section['input_extension_obra']['name']}}">{{section['input_extension_obra']['label']}}</label>
                            <input formControlName="input_extension_obra" type="text" class="uc-input-style" name="{{section['input_extension_obra']['name']}}" id="{{section['input_extension_obra']['name']}}" placeholder="{{section['input_extension_obra']['placeholder']}}">
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="i == 1">
                      <h3 class="my-32">{{ section['title'] }}</h3>
                      <div class="row">
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_etiquetas']['name']}}" class="mb-0">{{section['input_etiquetas']['label']}}</label>
                            <input formControlName="input_etiquetas" type="text" class="uc-input-style" name="{{section['input_etiquetas']['name']}}" id="{{section['input_etiquetas']['name']}}" placeholder="{{section['input_etiquetas']['placeholder']}}">
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_serie']['name']}}" class="mb-0">{{section['input_serie']['label']}}</label>
                            <div class="row">
                              <div class="col-md-5 col-6 pr-8">
                                <input formControlName="input_serie" type="text" class="uc-input-style w-min--auto" name="{{section['input_serie']['name']}}" id="{{section['input_serie']['name']}}" placeholder="{{section['input_serie']['placeholder']}}">
                              </div>
                              <div class="col-md-4 col-3 px-8">
                                <input formControlName="input_numero_informe" type="text" class="uc-input-style w-min--auto" name="{{section['input_numero_informe']['name']}}" id="{{section['input_numero_informe']['name']}}" placeholder="{{section['input_numero_informe']['name']}}">
                              </div>
                              <div class="col-3 pl-8">
                                <button title="Botón" type="button" name="button" class="uc-btn btn-primary w-100 justify--center">Agregar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_idioma']['name']}}">{{section['input_idioma']['label']}}</label>
                            <select formControlName="input_idioma" class="uc-input-style uc-input uc-input__select" name="{{ section['input_idioma']['name'] }}" id="{{ section['input_idioma']['name'] }}">
                              <ng-container *ngFor="let option of section['input_idioma']['options']">
                                <option value="{{option['value']}}">{{option['text']}}</option>
                              </ng-container>
                            </select>
                            <ng-container *ngIf="(uploadForm.controls['input_idioma'].invalid && (uploadForm.controls['input_idioma'].dirty || uploadForm.controls['input_idioma'].touched) && uploadForm.controls['input_idioma'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                        </div>
                        <div class="col-md-6 mb-24">
                          <div class="uc-form-group">
                            <label for="{{section['input_tipo_material']['name']}}">{{section['input_tipo_material']['label']}}</label>
                            <select formControlName="input_tipo_material" class="uc-input-style uc-input uc-input__select" name="{{ section['input_tipo_material']['name'] }}" id="{{ section['input_tipo_material']['name'] }}">
                              <ng-container *ngFor="let option of section['input_tipo_material']['options']">
                                <option value="{{option['value']}}">{{option['text']}}</option>
                              </ng-container>
                            </select>
                            <ng-container *ngIf="(uploadForm.controls['input_tipo_material'].invalid && (uploadForm.controls['input_tipo_material'].dirty || uploadForm.controls['input_tipo_material'].touched) && uploadForm.controls['input_tipo_material'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="i == 2">
                      <h3 class="my-32">{{ section['title'] }}</h3>
                      <div class="row">
                        <div class="col-md-8 mb-24">
                          <p>{{ section['excerpt'] }}</p>
                        </div>
                        <div class="col-md-6">
                          <div class="uc-form-group gray p-16 d-flex">
                            <label for="{{section['input_seleccionar_archivo']['name']}}" class="uc-btn btn-primary">{{section['input_seleccionar_archivo']['label']}}<i class="uc-icon icon-shape--rounded">cloud_upload</i></label>
                            <input formControlName="input_seleccionar_archivo" type="file" id="{{section['input_seleccionar_archivo']['name']}}" name="{{section['input_seleccionar_archivo']['name']}}" class="d-none">
                            <div class="ml-1">
                              <span class="file-text">Nombre del archivo</span>
                            </div>
                            <ng-container *ngIf="(uploadForm.controls['input_seleccionar_archivo'].invalid && (uploadForm.controls['input_seleccionar_archivo'].dirty || uploadForm.controls['input_seleccionar_archivo'].touched) && uploadForm.controls['input_seleccionar_archivo'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                          <div class="uc-form-group mb-0 mt-24">
                            <label for="{{section['input_descripcion_archivo']['name']}}">{{section['input_descripcion_archivo']['label']}}</label>
                            <textarea formControlName="input_descripcion_archivo" class="uc-input-style" name="{{section['input_descripcion_archivo']['name']}}" id="{{section['input_descripcion_archivo']['name']}}" rows="8" cols="80" placeholder="{{section['input_descripcion_archivo']['placeholder']}}"></textarea>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="uc-form-group">
                            <label for="{{section['input_tipo_acceso']['name']}}" class="mb-0">{{section['input_tipo_acceso']['label']}}</label> <span>{{section['input_tipo_acceso']['small']}}</span>
                            <div class="uc-form-group">
                              <ng-container *ngFor="let option of section['input_tipo_acceso']['options']; let i = index">
                                <input formControlName="input_tipo_acceso" type="radio" id="{{option['value']}}" value="{{option['value']}}" class="uc-orig-radio mr-1">
                                <label for="{{option['value']}}" class="uc-radio-button mr-8">{{option['text']}}</label>
                              </ng-container>
                            </div>
                            <div class="uc-form-group mb-0 mt-24">
                              <label for="{{section['input_fecha_embargo']['name']}}" class="mb-0">{{section['input_fecha_embargo']['label']}}</label>
                              <input formControlName="input_fecha_embargo" name="{{section['input_fecha_embargo']['name']}}" id="{{section['input_fecha_embargo']['name']}}" class="uc-input-style calendar-box" data-role="datepicker" placeholder="{{section['input_fecha_embargo']['placeholder']}}">
                              <span>{{section['input_fecha_embargo']['small']}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="i == 1">
              <div class="uc-card uc-card--gray mb-32">
                <div class="uc-card_body">
                  <div class="row">
                    <div class="col-lg-6 mb-24">
                      <div class="uc-form-group">
                        <label>Autor principal*</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input formControlName="input_autor_principal_name" type="text" class="uc-input-style w-min--auto" name="nameAutorMain" id="nameAutorMain" placeholder="Nombre">
                            <ng-container *ngIf="(uploadForm.controls['input_autor_principal_name'].invalid && (uploadForm.controls['input_autor_principal_name'].dirty || uploadForm.controls['input_autor_principal_name'].touched) && uploadForm.controls['input_autor_principal_name'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                          <div class="col-md-6">
                            <input formControlName="input_autor_principal_lastname" type="text" class="uc-input-style w-min--auto" name="lameAutorMain" id="lameAutorMain" placeholder="Apellido">
                            <ng-container *ngIf="(uploadForm.controls['input_autor_principal_lastname'].invalid && (uploadForm.controls['input_autor_principal_lastname'].dirty || uploadForm.controls['input_autor_principal_lastname'].touched) && uploadForm.controls['input_autor_principal_lastname'].errors.required)">
                              <span class="text-size--14 file-text">Campo requerido</span>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="uc-form-group">
                        <label>Editor</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input formControlName="input_editor_name" type="text" class="uc-input-style w-min--auto" name="nameEditor" id="nameEditor" placeholder="Nombre">
                          </div>
                          <div class="col-md-6">
                            <input formControlName="input_editor_lastname" type="text" class="uc-input-style w-min--auto" name="lameEditor" id="lameEditor" placeholder="Apellido">
                          </div>
                        </div>
                      </div>
                      <div class="uc-form-group">
                        <label>Profesor guía</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input formControlName="input_profesor_name" type="text" class="uc-input-style w-min--auto" name="nameTeacher" id="nameTeacher" placeholder="Nombre">
                          </div>
                          <div class="col-md-6">
                            <input formControlName="input_profesor_lastname" type="text" class="uc-input-style w-min--auto" name="lameTeacher" id="lameTeacher" placeholder="Apellido">
                          </div>
                        </div>
                      </div>
                      <div class="uc-form-group">
                        <label>Código de autor UC</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input formControlName="input_codigo_autor" type="text" class="uc-input-style w-min--auto" name="autorCode" id="autorCode" placeholder="Código">
                          </div>
                          <div class="col-md-6">
                            <button title="Botón" type="button" name="button" class="uc-btn btn-primary">Agregar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-24">
                      <div class="uc-form-group">
                        <label>Autor secundario</label>
                        <div class="row">
                          <div class="col-lg-4 col-md-5 col-4 pr-8">
                            <input formControlName="input_autor_secundario_name" type="text" class="uc-input-style w-min--auto" name="nameAutorSec" id="nameAutorSec" placeholder="Nombre">
                          </div>
                          <div class="col-lg-4 col-md-5 col-4 px-8">
                            <input formControlName="input_autor_secundario_lastname" type="text" class="uc-input-style w-min--auto" name="lameAutorSec" id="lameAutorSec" placeholder="Apellido">
                          </div>
                          <div class="col-lg-4 col-md-2 col-4 pl-8">
                            <button title="Botón" type="button" name="button" class="uc-btn btn-primary w-100 justify--center p-8">Agregar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="i == 2">
              <div class="uc-card uc-card--gray mb-32">
                <div class="uc-card_body">
                  <div class="row">
                    <div class="col-lg-6 mb-24">
                      <div class="uc-form-group">
                        <label for="relationedInvestigations">Investigaciones relacionadas</label>
                        <div class="row">
                          <div class="col-md-9 col-6 pr-1">
                            <select formControlName="input_investigaciones_relacionadas" class="uc-input-style uc-input uc-input__select" name="relationedInvestigations" id="relationedInvestigations">
                              <option value="">Seleccione temática</option>
                              <option value="1">Temática 1</option>
                              <option value="2">Temática 2</option>
                              <option value="3">Temática 3</option>
                            </select>
                          </div>
                          <div class="col-md-3 col-6 pl-1">
                            <button title="Botón" type="button" name="button" class="uc-btn btn-primary w-100 justify--center">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="uc-form-group">
                        <label for="">Imagen destacada</label>
                        <div class="uc-form-group gray p-16 d-flex">
                          <label for="featured_image" class="uc-btn btn-primary">Seleccionar imagen<i class="uc-icon icon-shape--rounded">cloud_upload</i></label>
                          <input formControlName="input_imagen_destacada" type="file" id="featured_image" name="featured_image" class="d-none">
                          <div class="ml-1">
                            <span class="file-text">Nombre del archivo</span>
                          </div>
                        </div>
                      </div>
                      <div class="uc-form-group">
                        <label for="">Galería de imágenes</label>
                        <div class="uc-form-group gray p-16 d-flex">
                          <label for="images" class="uc-btn btn-primary mb-0">Seleccionar imagenes<i class="uc-icon icon-shape--rounded">cloud_upload</i></label>
                          <input formControlName="input_galeria_imagenes" type="file" id="images" name="images" class="d-none">
                          <div class="ml-1">
                            <span class="file-text">Nombre del archivo</span>
                          </div>
                        </div>
                      </div>
                      <div class="uc-form-group">
                        <label for="associatedVideo">Video asociado</label>
                        <input formControlName="input_video_asociado" type="text" class="uc-input-style" name="associatedVideo" id="associatedVideo" placeholder="Ingrese URL de Youtube">
                      </div>
                    </div>
                    <div class="col-lg-6 mb-24">
                      <div class="uc-form-group">
                        <label for="featuredText">Texto destacado*</label>
                        <textarea formControlName="input_texto_destacado" class="uc-input-style" name="featuredText" id="featuredText" rows="8" cols="80" placeholder="Se recomienda 150 caracteres"></textarea>
                        <ng-container *ngIf="(uploadForm.controls['input_texto_destacado'].invalid && (uploadForm.controls['input_texto_destacado'].dirty || uploadForm.controls['input_texto_destacado'].touched) && uploadForm.controls['input_texto_destacado'].errors.required)">
                          <span class="text-size--14 file-text">Campo requerido</span>
                        </ng-container>
                      </div>
                      <div class="uc-form-group">
                        <label for="featuredText">Como citar este documento</label>
                        <textarea formControlName="input_como_citar" class="uc-input-style" name="featuredText" id="featuredText" rows="8" cols="80" placeholder="Texto"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="i == 3">
              <div class="uc-card mb-32">
                <div class="uc-card_body">
                  <h3>Licencia de distribución</h3>
                  <div class="uc-form-group mb-0 mt-24">
                    <input formControlName="input_conceder_licencia" id="input_conceder_licencia" name="input_conceder_licencia" type="checkbox" class="uc-input__checkbox mr-8">
                    <label for="input_conceder_licencia">Concedo licencia</label>
                    <ng-container *ngIf="(uploadForm.controls['input_conceder_licencia'].invalid && (uploadForm.controls['input_conceder_licencia'].dirty || uploadForm.controls['input_conceder_licencia'].touched) && uploadForm.controls['input_conceder_licencia'].errors.required)">
                      <span class="text-size--14 file-text">Campo requerido</span>
                    </ng-container>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </ng-container>
            <div class="d-flex upload-buttons_container">
              <button type="submit" title="Botón" class="uc-btn btn-cta mr-8 ws--nw" *ngIf="i < 3">{{ json['horizon_forms']['buttons']['save_changes']['text'] }}</button>
              <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i < 3" (click)="activePane = 't' + (i+2)">{{ json['horizon_forms']['buttons']['save_next']['text'] }}</button>
              <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 3">Enviar</button>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</section>
