.panels {
  width: 400%;

  display: flex;
}

.panels .panel {
  /* height: auto; */
  width: 100%;
  max-width: 1140px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.form-panel {
  overflow: hidden;
}

.panel-button {
  padding: 0;
  width: 50px;
  height: 50px;
  color: #0176de;
  border-radius: 50%;
  font-size: 32px;
  line-height: 1;
  border: 4px solid #0176de;
  font-weight: 700;
}

.panel-button.active {
  background-color: #0176de;
  color: #ffffff;
}

.panel-line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 25px;
  background-color: #eaeaea;
  z-index: -1;
}

.panel-line.active {
  background-color: #0176de;
}

.panel {
  height: 0;
}

.panel.active {
  height: 100%;
}

.file-text {
  position: initial;
}

.upload-buttons_container {
  justify-content: flex-end;
  width: fit-content;
  float: right;
}

.panel-button_container {
  width: 25%;
  position: relative;  
}
